flows_raspi-franka.json
[{"id":"7c56a241.1e88dc","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"5af1388b.ef9838","type":"tab","label":"Kodi","disabled":false,"info":""},{"id":"168e0b9d.9c19d4","type":"tab","label":"control","disabled":false,"info":""},{"id":"e00097c0.ad3088","type":"tab","label":"Einstellungen","disabled":false,"info":""},{"id":"dfa0e0a5.c8001","type":"tab","label":"Admin","disabled":false,"info":""},{"id":"ba1e4f7d.a87f3","type":"tab","label":"Dev","disabled":false,"info":""},{"id":"37ee46c5.d3e98a","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"12b1ebc3.9fb144"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"12b1ebc3.9fb144","port":0}]},{"x":455,"y":259,"wires":[{"id":"12b1ebc3.9fb144","port":1}]}]},{"id":"41df38c0.fb39c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#408080","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#408080","edited":true},"page-titlebar-backgroundColor":{"value":"#408080","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#5eaeae","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#408080","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"raspi-franka","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":27,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cbf02e0a.18499","type":"ui_group","z":"","name":"Display Auflösung","tab":"be0e5438.eb46b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"aa40158d.83bf68","type":"persist-store","z":"","filename":"/home/pi/node-red/persistant-settings/persistance.json","interval":"60"},{"id":"29050d2.fa3cef2","type":"ui_group","z":"","name":"Anwendungen","tab":"be0e5438.eb46b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5758df94.472ad","type":"ui_group","z":"","name":"Konsole","tab":"be0e5438.eb46b8","order":3,"disp":true,"width":8,"collapse":false},{"id":"be0e5438.eb46b8","type":"ui_tab","z":"","name":"Admin","icon":"fa-cogs","order":4,"disabled":false,"hidden":false},{"id":"ca6d8830.a2dc48","type":"telegram bot","z":"","botname":"FrankaBilderrahmenBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"8d10bcb3.ecd5","type":"kodi-controller","z":"","name":"","host":"127.0.0.1","port":"9090"},{"id":"bd2821f2.1ee81","type":"ui_tab","z":"","name":"Dev","icon":"dashboard","order":5,"disabled":true,"hidden":true},{"id":"838588b8.d90038","type":"ui_group","z":"","name":"fbi","tab":"bd2821f2.1ee81","order":3,"disp":true,"width":6,"collapse":false},{"id":"69cbfcd5.4478f4","type":"ui_group","z":"","name":"Power","tab":"be0e5438.eb46b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"47e9fd6a.bb2c94","type":"ui_group","z":"","name":"omxplayer","tab":"bd2821f2.1ee81","order":5,"disp":true,"width":"6","collapse":false},{"id":"ac137d79.4eec5","type":"ui_group","z":"","name":"fim","tab":"bd2821f2.1ee81","order":4,"disp":true,"width":"6","collapse":false},{"id":"b6d48645.bc31d8","type":"ui_tab","z":"","name":"Telegram","icon":"fa-telegram","order":2,"disabled":false,"hidden":false},{"id":"f7a9f973.917ec8","type":"ui_group","z":"","name":"Navigate Images","tab":"bd2821f2.1ee81","order":1,"disp":true,"width":20,"collapse":false},{"id":"d353cd3f.37915","type":"ui_group","z":"","name":"Navigate Videos","tab":"bd2821f2.1ee81","order":2,"disp":true,"width":20,"collapse":false},{"id":"f7d8373.6ed35c8","type":"ui_spacer","name":"spacer","group":"f7a9f973.917ec8","order":2,"width":7,"height":1},{"id":"89bbbe7.8c0ce4","type":"ui_spacer","name":"spacer","group":"f7a9f973.917ec8","order":5,"width":7,"height":1},{"id":"a3b5e949.03ee68","type":"ui_spacer","name":"spacer","group":"d353cd3f.37915","order":2,"width":7,"height":1},{"id":"b168b834.dc1588","type":"ui_spacer","name":"spacer","group":"d353cd3f.37915","order":5,"width":7,"height":1},{"id":"4537c880.c405c8","type":"ui_tab","z":"","name":"Bilderrahmen","icon":"fa-picture-o","order":1,"disabled":false,"hidden":false},{"id":"43f81666.762748","type":"ui_group","z":"","name":"Navigation","tab":"4537c880.c405c8","order":1,"disp":true,"width":"20","collapse":false},{"id":"79173158.54b5a","type":"ui_group","z":"","name":"Einstellungen","tab":"4537c880.c405c8","order":2,"disp":true,"width":20,"collapse":true},{"id":"df1cecd4.4f555","type":"ui_group","z":"","name":"Einstellungen Textoverlay","tab":"b6d48645.bc31d8","order":4,"disp":true,"width":"20","collapse":true},{"id":"6ea23321.89550c","type":"ui_group","z":"","name":"Nutzerliste","tab":"b6d48645.bc31d8","order":1,"disp":true,"width":"8","collapse":false},{"id":"3e3a5d75.a251e2","type":"ui_group","z":"","name":"Neuer Nutzer","tab":"b6d48645.bc31d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"a974a1dc.2318","type":"ui_group","z":"","name":"Nutzer löschen","tab":"b6d48645.bc31d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"82ba682c.a125b8","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":13,"width":7,"height":1},{"id":"a518a098.46126","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":15,"width":7,"height":1},{"id":"3b787a3a.79ca76","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":16,"width":3,"height":1},{"id":"92954a1a.5929c8","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":18,"width":2,"height":1},{"id":"41d64fd1.347ff","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":19,"width":3,"height":1},{"id":"4c2c8f3f.9399f","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":20,"width":2,"height":1},{"id":"d41e9fb3.f494c","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":21,"width":3,"height":1},{"id":"6e859dee.00fcf4","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":22,"width":2,"height":1},{"id":"8a8f3660.9e4398","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":23,"width":3,"height":1},{"id":"142d7de1.3b1b12","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":24,"width":2,"height":1},{"id":"36675352.5447ac","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":25,"width":3,"height":1},{"id":"141d006d.9a62e","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":26,"width":2,"height":1},{"id":"be674b38.7bab28","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":27,"width":3,"height":1},{"id":"9ec1d069.d8da8","type":"ui_spacer","name":"spacer","group":"df1cecd4.4f555","order":28,"width":2,"height":1},{"id":"32ef7aa.92d9586","type":"ui_spacer","name":"spacer","group":"43f81666.762748","order":5,"width":2,"height":1},{"id":"62abf5e5.b2cfdc","type":"ui_spacer","name":"spacer","group":"43f81666.762748","order":8,"width":2,"height":1},{"id":"e03e0a2.04b2ef8","type":"ui_tab","z":"","name":"Einstellungen","icon":"build","order":3,"disabled":false,"hidden":false},{"id":"98f89e13.1f66c","type":"ui_group","z":"","name":"Bildschirm","tab":"e03e0a2.04b2ef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"efcbccf2.e125","type":"ui_group","z":"","name":"Info LED","tab":"e03e0a2.04b2ef8","order":2,"disp":true,"width":"6","collapse":false},{"id":"40594ce8.388634","type":"comment","z":"dfa0e0a5.c8001","name":"Kodi","info":"","x":110,"y":340,"wires":[]},{"id":"b1559b66.b13608","type":"persist in","z":"dfa0e0a5.c8001","name":"kodi","storageNode":"aa40158d.83bf68","x":430,"y":440,"wires":[]},{"id":"e16556a1.a6cf78","type":"persist out","z":"dfa0e0a5.c8001","name":"kodi","storageNode":"aa40158d.83bf68","x":130,"y":440,"wires":[["ee81297d.751808"]]},{"id":"ee81297d.751808","type":"ui_switch","z":"dfa0e0a5.c8001","name":"","label":"kodi","tooltip":"","group":"29050d2.fa3cef2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":400,"wires":[["448d0e97.8e5ff","b1559b66.b13608"]]},{"id":"448d0e97.8e5ff","type":"function","z":"dfa0e0a5.c8001","name":"if false","func":"if (msg.payload === true) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":470,"y":400,"wires":[["a4de161d.ffeba8"],["8b9a1ad8.074a98"]]},{"id":"a4de161d.ffeba8","type":"exec","z":"dfa0e0a5.c8001","command":"sudo systemctl start kodi","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":730,"y":380,"wires":[[],[],[]]},{"id":"8b9a1ad8.074a98","type":"exec","z":"dfa0e0a5.c8001","command":"sudo systemctl stop kodi","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":730,"y":440,"wires":[[],[],[]]},{"id":"6cd3950b.9e00ac","type":"comment","z":"dfa0e0a5.c8001","name":"Konsole","info":"","x":120,"y":760,"wires":[]},{"id":"3dca4bde.f1fce4","type":"exec","z":"dfa0e0a5.c8001","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":820,"wires":[["c8efbfb.47c8f4"],["c8efbfb.47c8f4"],[]]},{"id":"cc6ee33b.21bbf","type":"ui_text_input","z":"dfa0e0a5.c8001","name":"","label":"","tooltip":"","group":"5758df94.472ad","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":200,"y":820,"wires":[["3dca4bde.f1fce4"]]},{"id":"c8efbfb.47c8f4","type":"ui_text","z":"dfa0e0a5.c8001","group":"5758df94.472ad","order":2,"width":8,"height":10,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":630,"y":820,"wires":[]},{"id":"d6b46b2e.94f648","type":"telegram receiver","z":"7c56a241.1e88dc","name":"","bot":"ca6d8830.a2dc48","saveDataDir":"","x":120,"y":140,"wires":[["1874c46c.dc959c","fdf976eb.414d08","695fd683.0af3d8"],["1874c46c.dc959c","fdf976eb.414d08","695fd683.0af3d8"]]},{"id":"b6f51156.34f41","type":"comment","z":"dfa0e0a5.c8001","name":"Power","info":"","x":110,"y":940,"wires":[]},{"id":"52fd84f4.48542c","type":"exec","z":"dfa0e0a5.c8001","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":1080,"wires":[[],[],[]]},{"id":"1a962367.79520d","type":"exec","z":"dfa0e0a5.c8001","command":"sudo poweroff","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":1020,"wires":[[],[],[]]},{"id":"d29e809d.09503","type":"ui_button","z":"dfa0e0a5.c8001","name":"","group":"69cbfcd5.4478f4","order":2,"width":6,"height":1,"passthru":false,"label":"Power off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":1020,"wires":[["1a962367.79520d"]]},{"id":"f4a74376.3936d","type":"ui_button","z":"dfa0e0a5.c8001","name":"","group":"69cbfcd5.4478f4","order":1,"width":6,"height":1,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":1080,"wires":[["52fd84f4.48542c"]]},{"id":"6fdc4e8e.2370d","type":"comment","z":"dfa0e0a5.c8001","name":"lightdm","info":"","x":110,"y":540,"wires":[]},{"id":"bde9ea0c.be08b8","type":"persist in","z":"dfa0e0a5.c8001","name":"lightdm","storageNode":"aa40158d.83bf68","x":440,"y":660,"wires":[]},{"id":"c5fd422f.cb21f","type":"persist out","z":"dfa0e0a5.c8001","name":"lightdm","storageNode":"aa40158d.83bf68","x":140,"y":660,"wires":[[]]},{"id":"29fdcca4.a8b3a4","type":"ui_switch","z":"dfa0e0a5.c8001","name":"","label":"lightdm","tooltip":"","group":"29050d2.fa3cef2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":620,"wires":[["3d7a77a3.b7a3c8","bde9ea0c.be08b8"]]},{"id":"3d7a77a3.b7a3c8","type":"function","z":"dfa0e0a5.c8001","name":"if false","func":"if (msg.payload === true) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":470,"y":620,"wires":[["b396fb4e.6efd08"],["b843bc6d.a6abf"]]},{"id":"b396fb4e.6efd08","type":"exec","z":"dfa0e0a5.c8001","command":"sudo systemctl start lightdm","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":740,"y":600,"wires":[[],[],[]]},{"id":"b843bc6d.a6abf","type":"exec","z":"dfa0e0a5.c8001","command":"sudo systemctl stop lightdm","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":740,"y":660,"wires":[[],[],[]]},{"id":"6b411980.a2ece8","type":"kodi-out","z":"5af1388b.ef9838","name":"media-server kodi","controller":"8d10bcb3.ecd5","unit_number":"1","output":"1","kodicommand":"","x":1610,"y":460,"wires":[],"info":"https://kodi.wiki/view/JSON-RPC_API/v9"},{"id":"9f706fb6.41096","type":"kodi-in","z":"5af1388b.ef9838","name":"","controller":"8d10bcb3.ecd5","x":170,"y":880,"wires":[["aac5a8be.3e83b8","62bef873.a8ec28","4b692df3.f4f474"]]},{"id":"aac5a8be.3e83b8","type":"debug","z":"5af1388b.ef9838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":270,"y":1020,"wires":[]},{"id":"f67bcd76.e9764","type":"comment","z":"5af1388b.ef9838","name":"kodi","info":"","x":910,"y":120,"wires":[]},{"id":"883c1b70.676b08","type":"function","z":"5af1388b.ef9838","name":"Player.Open","func":"return {\n    payload: \n        {\n            \"cmd\":\"Player.Open\",\n            \"args\":{\n                \"item\":{\n                    \"directory\":msg.payload   \n                }\n            }\n        }\n};","outputs":1,"noerr":0,"x":1210,"y":280,"wires":[["6b411980.a2ece8"]]},{"id":"110346df.785c39","type":"inject","z":"5af1388b.ef9838","name":"/home/pi/media/telegram/sub","topic":"","payload":"/home/pi/media/telegram/sub","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":980,"y":280,"wires":[["883c1b70.676b08"]]},{"id":"ffbdb28d.7c8a6","type":"function","z":"5af1388b.ef9838","name":"Player.PlayPause","func":"return {\n    payload: \n        {\n            \"cmd\":\"Player.PlayPause\",\n            \"params\":{\n                \"playerid\":2\n            }\n        }\n};","outputs":1,"noerr":0,"x":1230,"y":180,"wires":[["6b411980.a2ece8"]]},{"id":"cda933.8dc9f6d","type":"inject","z":"5af1388b.ef9838","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":180,"wires":[["ffbdb28d.7c8a6"]]},{"id":"d35fad93.9732d","type":"inject","z":"5af1388b.ef9838","name":"file_8.jpg","topic":"","payload":"/home/pi/media/telegram/file_8.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":400,"wires":[["3e356f2e.d3986"]]},{"id":"3e356f2e.d3986","type":"function","z":"5af1388b.ef9838","name":"Player.Open","func":"return {\n    payload: \n        {\n            \"method\":\"Player.Open\",\n            \"params\":{\n                \"item\":{\n                    \"file\":msg.payload   \n                }\n                \n            }\n        }\n};","outputs":1,"noerr":0,"x":1210,"y":360,"wires":[["6b411980.a2ece8"]]},{"id":"b6b9b7a8.b8d5e8","type":"inject","z":"5af1388b.ef9838","name":"file_7.jpg","topic":"","payload":"/home/pi/media/telegram/file_7.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":360,"wires":[["3e356f2e.d3986"]]},{"id":"6941cbb5.e2c064","type":"function","z":"5af1388b.ef9838","name":"Playlist.GetPlaylists","func":"return {\n    payload: \n        {\n            \"method\":\"Playlist.GetPlaylists\"\n        }\n};","outputs":1,"noerr":0,"x":1470,"y":980,"wires":[["6b411980.a2ece8"]]},{"id":"dce22cd9.dca44","type":"inject","z":"5af1388b.ef9838","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":980,"wires":[["6941cbb5.e2c064"]]},{"id":"e71a57f2.2c0be8","type":"function","z":"5af1388b.ef9838","name":"Playlist.GetActivePlayers","func":"return {\n    payload: \n        {\n            \"method\":\"Playlist.GetActivePlayers\",\n        }\n};","outputs":1,"noerr":0,"x":1490,"y":1020,"wires":[["6b411980.a2ece8"]]},{"id":"519686aa.b96248","type":"inject","z":"5af1388b.ef9838","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":1020,"wires":[["e71a57f2.2c0be8"]]},{"id":"70a1da15.366b74","type":"inject","z":"5af1388b.ef9838","name":"file_10.jpg","topic":"","payload":"/home/pi/media/telegram/file_10.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":640,"wires":[["6e18904b.3731"]]},{"id":"6eb6fb45.cfdac4","type":"function","z":"5af1388b.ef9838","name":"Player.Stop","func":"return {\n    payload: \n        {\n            \"cmd\":\"Player.Stop\",\n            \"params\":{\n                \"playerid\":2\n            }\n        }\n};","outputs":1,"noerr":0,"x":1210,"y":220,"wires":[["6b411980.a2ece8"]]},{"id":"4179e71b.0d49d8","type":"inject","z":"5af1388b.ef9838","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":220,"wires":[["6eb6fb45.cfdac4"]]},{"id":"6559cc36.1b5184","type":"file in","z":"5af1388b.ef9838","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":510,"y":880,"wires":[["5cf77f2.8adb28"]]},{"id":"985e9032.56967","type":"comment","z":"5af1388b.ef9838","name":"Dashboard","info":"","x":360,"y":820,"wires":[]},{"id":"5cf77f2.8adb28","type":"base64","z":"5af1388b.ef9838","name":"","action":"str","property":"payload","x":660,"y":880,"wires":[["b40e2a53.8af888"]]},{"id":"b40e2a53.8af888","type":"ui_template","z":"5af1388b.ef9838","group":"43f81666.762748","name":"","order":1,"width":20,"height":8,"format":"<img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":880,"wires":[[]]},{"id":"43f88de5.2f1884","type":"comment","z":"5af1388b.ef9838","name":"Ausgabe","info":"","x":820,"y":60,"wires":[]},{"id":"74815107.7a996","type":"comment","z":"5af1388b.ef9838","name":"Navigation","info":"","x":200,"y":80,"wires":[]},{"id":"5f07866.0d8dc78","type":"comment","z":"5af1388b.ef9838","name":"Images","info":"","x":210,"y":140,"wires":[]},{"id":"4b692df3.f4f474","type":"function","z":"5af1388b.ef9838","name":"get file","func":"try{\n    var filename = msg.payload.data.data.item.file.slice((msg.payload.data.data.item.file.lastIndexOf(\"/\")) + 1);\n    filename = \"/home/pi/media/telegram/03_dashboard/\" + filename + \".dash.jpg\";\n    msg = { filename };\n    return msg;\n\n} catch(e){\n    \n}\n","outputs":1,"noerr":0,"x":370,"y":880,"wires":[["6559cc36.1b5184","499a590e.d973c8"]]},{"id":"6e18904b.3731","type":"function","z":"5af1388b.ef9838","name":"Playlist.Add","func":"return {\n    payload: \n        {\n            \"method\":\"Playlist.Add\",\n            \"params\":{\n                \"playlistid\":2,\n                \"item\":{\n                    \"file\":msg.payload\n                }\n            }\n        }\n};","outputs":1,"noerr":0,"x":1210,"y":600,"wires":[["6b411980.a2ece8"]]},{"id":"b07fd2d3.ac933","type":"inject","z":"5af1388b.ef9838","name":"file_9.jpg","topic":"","payload":"/home/pi/media/telegram/file_9.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":600,"wires":[["6e18904b.3731"]]},{"id":"2bfde3a8.6783ac","type":"function","z":"5af1388b.ef9838","name":"Playlist.GetItems","func":"return {\n    payload: \n        {\n            \"method\":\"Playlist.GetItems\",\n            \"params\":{\n                \"playlistid\":2\n        }\n    }\n};","outputs":1,"noerr":0,"x":1470,"y":1060,"wires":[["6b411980.a2ece8"]]},{"id":"91e0d2.eadd6f3","type":"inject","z":"5af1388b.ef9838","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":1060,"wires":[["2bfde3a8.6783ac"]]},{"id":"f6f2588b.8879f8","type":"function","z":"5af1388b.ef9838","name":"Player.GoTo next","func":"return {\n    payload: \n        {\n            \"method\":\"Player.GoTo\",\n            \"params\":{\n                \"playerid\":2,\n                \"to\": \"next\"\n            }\n        }\n};","outputs":1,"noerr":0,"x":1230,"y":500,"wires":[["6b411980.a2ece8"]]},{"id":"6f41bf0e.72163","type":"inject","z":"5af1388b.ef9838","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":500,"wires":[["f6f2588b.8879f8"]]},{"id":"93b3653f.741c78","type":"function","z":"5af1388b.ef9838","name":"Player.GoTo previous","func":"return {\n    payload: \n        {\n            \"method\":\"Player.GoTo\",\n            \"params\":{\n                \"playerid\":2,\n                \"to\": \"previous\"\n            }\n        }\n};","outputs":1,"noerr":0,"x":1240,"y":540,"wires":[["6b411980.a2ece8"]]},{"id":"764d724.3f7d18c","type":"inject","z":"5af1388b.ef9838","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":540,"wires":[["93b3653f.741c78"]]},{"id":"5d370aff.d14a34","type":"ui_button","z":"5af1388b.ef9838","name":"pause","group":"43f81666.762748","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"fa-pause","payload":"pause","payloadType":"str","topic":"","x":550,"y":160,"wires":[["ffbdb28d.7c8a6","c613e3ff.4f41e"]]},{"id":"35814bc8.a20154","type":"ui_button","z":"5af1388b.ef9838","name":"stop","group":"43f81666.762748","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-stop","payload":"stop","payloadType":"str","topic":"","x":550,"y":220,"wires":[["6eb6fb45.cfdac4","c613e3ff.4f41e"]]},{"id":"29ee9c53.3a5b84","type":"ui_button","z":"5af1388b.ef9838","name":"left","group":"43f81666.762748","order":6,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"l","payloadType":"str","topic":"","x":750,"y":500,"wires":[["f6f2588b.8879f8"]]},{"id":"e94831cb.248ea","type":"ui_button","z":"5af1388b.ef9838","name":"right","group":"43f81666.762748","order":7,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"r","payloadType":"str","topic":"","x":750,"y":540,"wires":[["93b3653f.741c78"]]},{"id":"aa8f2459.3432d8","type":"function","z":"5af1388b.ef9838","name":"Playlist.Clear","func":"return {\n    payload: \n        {\n            \"method\":\"Playlist.Clear\",\n            \"params\":{\n                \"playlistid\":2\n            }\n        }\n};","outputs":1,"noerr":0,"x":1210,"y":740,"wires":[["6b411980.a2ece8"]]},{"id":"24dd70b4.86387","type":"inject","z":"5af1388b.ef9838","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":740,"wires":[["aa8f2459.3432d8"]]},{"id":"c7f0d2ad.80b55","type":"inject","z":"5af1388b.ef9838","name":"file_3.mp4","topic":"","payload":"/home/pi/media/videos/file_3.mp4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":680,"wires":[["6e18904b.3731"]]},{"id":"99bf7b1a.41e4f8","type":"function","z":"5af1388b.ef9838","name":"Settings.SetSettingValue","func":"return {\n    payload: \n        {\n            \"method\":\"Settings.SetSettingValue\",\n            \"params\":{\n                \"setting\":\"slideshow.staytime\",\n                \"value\":msg.payload\n            }\n        }\n};","outputs":1,"noerr":0,"x":1250,"y":800,"wires":[["6b411980.a2ece8"]]},{"id":"1241a501.d82fab","type":"inject","z":"5af1388b.ef9838","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":820,"wires":[["99bf7b1a.41e4f8"]]},{"id":"acb583ed.1f6e1","type":"ui_slider","z":"5af1388b.ef9838","name":"","label":"Anzeigedauer (sek.)","tooltip":"","group":"79173158.54b5a","order":1,"width":20,"height":1,"passthru":true,"outs":"end","topic":"","min":"5","max":"60","step":"5","x":410,"y":1200,"wires":[["ab1b6e6.0cf699","af647e03.8fe05"]]},{"id":"f065e78b.0b06e8","type":"ui_button","z":"5af1388b.ef9838","name":"play","group":"43f81666.762748","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"fa-play","payload":"play","payloadType":"str","topic":"","x":550,"y":280,"wires":[["c613e3ff.4f41e","c6be6051.f6e5f"]]},{"id":"c613e3ff.4f41e","type":"function","z":"5af1388b.ef9838","name":"set color","func":"if (msg.payload === \"play\"){\n    msg.payload = \"#eb4034\";\n    context.set('play', true);\n    return [null, msg];\n    \n} if (context.get('play')){\n    \n    if (msg.payload === \"pause\"){\n        if (context.get('colorswitchPause') || false){\n            msg.payload = \"#ebe534\";\n            context.set('colorswitchPause', false);\n        } else {\n            msg.payload = \"\";\n            context.set('colorswitchPause', true);\n        }\n        return [msg, null];\n    }\n    \n    if (msg.payload === \"speedFalse\"){\n        msg.payload = \"#ebe534\";\n        context.set('colorswitchPause', false);\n        return [msg, null];\n    }\n    \n    if (msg.payload === \"speedTrue\"){\n        msg.payload = \"\";\n        context.set('colorswitchPause', true);\n        return [msg, null];\n    }\n\n} if (msg.payload === \"stop\"){\n    msg.payload = \"\";\n    context.set('colorswitchPause', true);\n    context.set('play', false);\n    return [msg, msg];\n}","outputs":2,"noerr":0,"x":340,"y":220,"wires":[["5d370aff.d14a34"],["f065e78b.0b06e8"]]},{"id":"c6be6051.f6e5f","type":"function","z":"5af1388b.ef9838","name":"set folder","func":"msg.payload = \"/home/pi/media/telegram/03_frameloop\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["883c1b70.676b08"]]},{"id":"e5438316.3f22","type":"inject","z":"5af1388b.ef9838","name":"file_3.mp4","topic":"","payload":"/home/pi/media/videos/file_3.mp4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":440,"wires":[["3e356f2e.d3986"]]},{"id":"8a3b71fc.4afeb","type":"inject","z":"5af1388b.ef9838","name":"/home/pi/media/videos","topic":"","payload":"/home/pi/media/videos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":320,"wires":[["883c1b70.676b08"]]},{"id":"62bef873.a8ec28","type":"function","z":"5af1388b.ef9838","name":"get speed","func":"try{\n    if (msg.payload.data.data.player.speed === 0){\n        msg.payload = \"speedFalse\";\n        \n    } else{\n        msg.payload = \"speedTrue\";\n    }\n    \n    return msg;\n\n} catch(e){\n    \n}\n","outputs":1,"noerr":0,"x":320,"y":680,"wires":[["c613e3ff.4f41e"]]},{"id":"6ca0a6f5.8b6858","type":"ui_button","z":"5af1388b.ef9838","name":"stick","group":"43f81666.762748","order":9,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"fa-paperclip","payload":"stick","payloadType":"str","topic":"","x":370,"y":1800,"wires":[[]]},{"id":"44c72ea3.e7ca1","type":"ui_button","z":"5af1388b.ef9838","name":"delete","group":"43f81666.762748","order":10,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-trash","payload":"Wirklich löschen?","payloadType":"str","topic":"","x":370,"y":1760,"wires":[["6eb4a9aa.8de568"]]},{"id":"3c457ef9.347f12","type":"ui_slider","z":"5af1388b.ef9838","name":"","label":"Max. Anzahl Bilder Schleife","tooltip":"","group":"79173158.54b5a","order":2,"width":20,"height":1,"passthru":true,"outs":"end","topic":"","min":"1","max":"99","step":1,"x":440,"y":1440,"wires":[["2de84ae9.85c9d6"]]},{"id":"a62c991d.72a4c8","type":"exec","z":"ba1e4f7d.a87f3","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":1140,"wires":[["47a50bf1.1a7ff4"],["47a50bf1.1a7ff4"],[]]},{"id":"a2cd0a5.02febf8","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1160,"wires":[["b5b89633.bb5a78"]]},{"id":"b5b89633.bb5a78","type":"function","z":"ba1e4f7d.a87f3","name":"create fbi cmd","func":"var duration = \"4\";\nvar folder = \"/home/pi/media/telegram/\";\n\n//msg.payload = \"sudo fbi -d /dev/fb0 -T 1 -a -t \" + duration + \" --noverbose --readahead --blend 3 \" + folder + \"*.jpg\";\nmsg.payload = \"sudo fbi -d /dev/fb0 -T 1 -a -t \" + duration + \" --readahead --blend 3 \" + folder + \"*.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":1140,"wires":[["a62c991d.72a4c8"]]},{"id":"47a50bf1.1a7ff4","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1140,"wires":[]},{"id":"2652e9a9.77c7f6","type":"ui_button","z":"ba1e4f7d.a87f3","name":"","group":"838588b8.d90038","order":1,"width":0,"height":0,"passthru":false,"label":"start slideshow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1120,"wires":[["b5b89633.bb5a78"]]},{"id":"471bacc.085f054","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1320,"wires":[["587a4cf5.59a2b4"]]},{"id":"587a4cf5.59a2b4","type":"function","z":"ba1e4f7d.a87f3","name":"create kill cmd","func":"msg.payload = \"sudo killall fbi\";\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":1300,"wires":[["c22a84d4.60b528"]]},{"id":"7fe7bc48.58e114","type":"ui_button","z":"ba1e4f7d.a87f3","name":"","group":"838588b8.d90038","order":3,"width":0,"height":0,"passthru":false,"label":"stop slideshow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1280,"wires":[["587a4cf5.59a2b4"]]},{"id":"6884e69e.c98708","type":"ui_button","z":"ba1e4f7d.a87f3","name":"","group":"838588b8.d90038","order":2,"width":0,"height":0,"passthru":false,"label":"restart slideshow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1220,"wires":[["587a4cf5.59a2b4","403bb0af.7188"]]},{"id":"403bb0af.7188","type":"delay","z":"ba1e4f7d.a87f3","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1220,"wires":[["b5b89633.bb5a78"]]},{"id":"e8000f81.969be","type":"comment","z":"ba1e4f7d.a87f3","name":"fbi","info":"","x":100,"y":1060,"wires":[]},{"id":"c22a84d4.60b528","type":"exec","z":"ba1e4f7d.a87f3","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":1300,"wires":[["5d3ab0ee.c3228"],["5d3ab0ee.c3228"],[]]},{"id":"5d3ab0ee.c3228","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1300,"wires":[]},{"id":"4c25c5a7.1f563c","type":"function","z":"ba1e4f7d.a87f3","name":"create fbi cmd","func":"var file = msg.filename;\n//var file = \"/home/pi/media/telegram/*.jpg\";\n\n//msg.payload = \"sudo fbi -d /dev/fb0 -T 1 -a --noverbose --readahead --blend 3 \" + file;\nmsg.payload = \"sudo fbi -T 1 -a --noverbose --blend 3 \" + file;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":380,"wires":[["c0a34b87.0e1ef8"]]},{"id":"704160c3.4bf8c","type":"comment","z":"ba1e4f7d.a87f3","name":"Navigation","info":"","x":120,"y":100,"wires":[]},{"id":"4cf866e1.ecc2e8","type":"ui_template","z":"ba1e4f7d.a87f3","group":"f7a9f973.917ec8","name":"","order":1,"width":20,"height":8,"format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1200,"y":220,"wires":[[]]},{"id":"bcb54f00.5bf98","type":"base64","z":"ba1e4f7d.a87f3","name":"","action":"str","property":"payload","x":1060,"y":220,"wires":[["4cf866e1.ecc2e8"]]},{"id":"834ec8e6.83e348","type":"file in","z":"ba1e4f7d.a87f3","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":810,"y":220,"wires":[["bcb54f00.5bf98"]]},{"id":"fd5bc185.4357b","type":"ui_button","z":"ba1e4f7d.a87f3","name":"left","group":"f7a9f973.917ec8","order":3,"width":3,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"l","payloadType":"str","topic":"","x":150,"y":300,"wires":[["8c2b87fa.9e2b08","26a4ce3.ddf7532"]]},{"id":"c43edb74.939b68","type":"ui_button","z":"ba1e4f7d.a87f3","name":"right","group":"f7a9f973.917ec8","order":4,"width":3,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"r","payloadType":"str","topic":"","x":150,"y":340,"wires":[["8c2b87fa.9e2b08","26a4ce3.ddf7532"]]},{"id":"aa5ff526.cb86a8","type":"function","z":"ba1e4f7d.a87f3","name":"navigate files","func":"var fileindex = global.get('fileindex-images') || 0;\nvar filelist = global.get('filelist-images');\nvar filelistlength = filelist.length;\n\nif (msg.payload === \"r\"){\n    if (fileindex === (filelistlength - 1)){\n        fileindex = 0;\n    } else {\n        fileindex = fileindex + 1;\n    }\n    \n} else {\n    if (fileindex === 0){\n        fileindex = filelistlength - 1;\n    } else {\n        fileindex = fileindex - 1;\n    }\n}\n\nglobal.set('fileindex-images', fileindex);\n\nvar filename = filelist[fileindex];\n\nmsg.payload = fileindex;\nmsg = { filename };\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["834ec8e6.83e348","a42fab94.f93608","4c25c5a7.1f563c","80c39c43.26de2"]]},{"id":"a42fab94.f93608","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":400,"wires":[]},{"id":"db0c45ab.1d2bc8","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"l","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["26a4ce3.ddf7532"]]},{"id":"aa32d1aa.77cd9","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"r","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":440,"wires":[["26a4ce3.ddf7532"]]},{"id":"8c2b87fa.9e2b08","type":"fs-file-lister","z":"ba1e4f7d.a87f3","name":"","start":"/home/pi/media/telegram","pattern":"*.jpg","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":false,"showWarnings":true,"x":320,"y":240,"wires":[["ac49c114.f4bf1"]]},{"id":"ac49c114.f4bf1","type":"change","z":"ba1e4f7d.a87f3","name":"","rules":[{"t":"set","p":"filelist-images","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[[]]},{"id":"4f2e3cdf.49a614","type":"inject","z":"ba1e4f7d.a87f3","name":"start","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":240,"wires":[["8c2b87fa.9e2b08"]]},{"id":"7d8d3f3e.57d96","type":"comment","z":"ba1e4f7d.a87f3","name":"Ausgabe","info":"","x":780,"y":100,"wires":[]},{"id":"9d3f0f5f.9aecd","type":"comment","z":"ba1e4f7d.a87f3","name":"Dashboard","info":"","x":820,"y":160,"wires":[]},{"id":"d9edc072.e5131","type":"comment","z":"ba1e4f7d.a87f3","name":"fbi","info":"","x":810,"y":320,"wires":[]},{"id":"c0a34b87.0e1ef8","type":"exec","z":"ba1e4f7d.a87f3","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1000,"y":380,"wires":[["13b70a3f.181016"],["13b70a3f.181016"],[]]},{"id":"13b70a3f.181016","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":380,"wires":[]},{"id":"f1f94645.e8e398","type":"comment","z":"ba1e4f7d.a87f3","name":"Images","info":"","x":130,"y":160,"wires":[]},{"id":"d77b006a.92ff1","type":"ui_button","z":"ba1e4f7d.a87f3","name":"left","group":"d353cd3f.37915","order":3,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"l","payloadType":"str","topic":"","x":150,"y":820,"wires":[["cf3725bb.2048f8","970c2d9.a21f3d"]]},{"id":"598130fe.ad4a1","type":"ui_button","z":"ba1e4f7d.a87f3","name":"right","group":"d353cd3f.37915","order":4,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"r","payloadType":"str","topic":"","x":150,"y":860,"wires":[["cf3725bb.2048f8","970c2d9.a21f3d"]]},{"id":"cfbd3682.bec5b8","type":"function","z":"ba1e4f7d.a87f3","name":"navigate files","func":"var fileindex = global.get('fileindex-videos') || 0;\nvar filelist = global.get('filelist-videos');\nvar filelistlength = filelist.length;\n\nif (msg.payload === \"r\"){\n    if (fileindex === (filelistlength - 1)){\n        fileindex = 0;\n    } else {\n        fileindex = fileindex + 1;\n    }\n    \n} else {\n    if (fileindex === 0){\n        fileindex = filelistlength - 1;\n    } else {\n        fileindex = fileindex - 1;\n    }\n}\n\nglobal.set('fileindex-videos', fileindex);\n\nvar filename = filelist[fileindex];\n\nmsg.payload = fileindex;\nmsg = { filename };\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":840,"wires":[["12fc1b0a.6db095","50190e2b.45b1e","7a6a8761.b8efd8"]]},{"id":"12fc1b0a.6db095","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":920,"wires":[]},{"id":"8afa9caf.ecc46","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"l","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":920,"wires":[["970c2d9.a21f3d"]]},{"id":"98ba7001.e0bc9","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"r","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":960,"wires":[["970c2d9.a21f3d"]]},{"id":"cf3725bb.2048f8","type":"fs-file-lister","z":"ba1e4f7d.a87f3","name":"","start":"/home/pi/media/telegram","pattern":"*.mp4","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":false,"showWarnings":true,"x":320,"y":760,"wires":[["3da6b2d5.19f27e"]]},{"id":"3da6b2d5.19f27e","type":"change","z":"ba1e4f7d.a87f3","name":"","rules":[{"t":"set","p":"filelist-videos","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":760,"wires":[[]]},{"id":"ab94beb2.5f0c7","type":"inject","z":"ba1e4f7d.a87f3","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":760,"wires":[["cf3725bb.2048f8"]]},{"id":"646759e5.45d608","type":"comment","z":"ba1e4f7d.a87f3","name":"Videos","info":"","x":130,"y":680,"wires":[]},{"id":"d0a9483e.e4e7c8","type":"comment","z":"ba1e4f7d.a87f3","name":"omxplayer","info":"","x":820,"y":680,"wires":[]},{"id":"cd54d6f3.67e618","type":"exec","z":"ba1e4f7d.a87f3","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1060,"y":820,"wires":[["88071f2c.6d173"],["88071f2c.6d173"],[]]},{"id":"88071f2c.6d173","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":820,"wires":[]},{"id":"50190e2b.45b1e","type":"function","z":"ba1e4f7d.a87f3","name":"create omxplayer cmd","func":"var file = msg.filename;\n\nmsg.payload = \"sudo omxplayer -b \" + file;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":820,"wires":[["cd54d6f3.67e618"]]},{"id":"d5bcf01b.6f5d1","type":"ui_template","z":"ba1e4f7d.a87f3","group":"d353cd3f.37915","name":"","order":1,"width":20,"height":8,"format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1200,"y":740,"wires":[[]]},{"id":"1f4fbf36.b4b801","type":"base64","z":"ba1e4f7d.a87f3","name":"","action":"str","property":"payload","x":1060,"y":740,"wires":[["d5bcf01b.6f5d1"]]},{"id":"7a6a8761.b8efd8","type":"file in","z":"ba1e4f7d.a87f3","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":810,"y":740,"wires":[["1f4fbf36.b4b801"]]},{"id":"970c2d9.a21f3d","type":"function","z":"ba1e4f7d.a87f3","name":"node","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":840,"wires":[["cfbd3682.bec5b8"]]},{"id":"26a4ce3.ddf7532","type":"function","z":"ba1e4f7d.a87f3","name":"node","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["aa5ff526.cb86a8"]]},{"id":"864d171b.28ec38","type":"exec","z":"ba1e4f7d.a87f3","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1040,"y":540,"wires":[["4075bc9.bc2b144"],["4075bc9.bc2b144"],[]]},{"id":"662a25c4.b44dec","type":"function","z":"ba1e4f7d.a87f3","name":"create fim cmd","func":"//var file = msg.filename;\nvar file = \"/home/pi/media/telegram/*.jpg\";\n\nmsg.payload = \"sudo fim -a \" + file;\n\nreturn msg;","outputs":1,"noerr":0,"x":842,"y":540,"wires":[["864d171b.28ec38"]]},{"id":"4075bc9.bc2b144","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":540,"wires":[]},{"id":"a597478f.ce79d8","type":"comment","z":"ba1e4f7d.a87f3","name":"fim","info":"","x":810,"y":480,"wires":[]},{"id":"80c39c43.26de2","type":"delay","z":"ba1e4f7d.a87f3","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":460,"wires":[["8a6ff35e.ec044"]]},{"id":"8a6ff35e.ec044","type":"function","z":"ba1e4f7d.a87f3","name":"create kill cmd","func":"msg.payload = \"sudo killall fbi\";\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":420,"wires":[["c0a34b87.0e1ef8"]]},{"id":"8c730af9.2a5788","type":"exec","z":"ba1e4f7d.a87f3","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":1500,"wires":[["c398064d.3e5718"],["c398064d.3e5718"],[]]},{"id":"2d5857b7.ac2cc8","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1520,"wires":[["c840d4d3.0f7128"]]},{"id":"c840d4d3.0f7128","type":"function","z":"ba1e4f7d.a87f3","name":"create fim cmd","func":"var duration = \"4\";\nvar folder = \"/home/pi/media/telegram/\";\n\n\nmsg.payload = \"sudo fim -a --slideshow \" + duration + \" \" + folder + \"*.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":1500,"wires":[["8c730af9.2a5788"]]},{"id":"c398064d.3e5718","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1500,"wires":[]},{"id":"ef5d29c9.1c9fe8","type":"ui_button","z":"ba1e4f7d.a87f3","name":"","group":"ac137d79.4eec5","order":1,"width":0,"height":0,"passthru":false,"label":"start slideshow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1480,"wires":[["c840d4d3.0f7128"]]},{"id":"785822a9.c1debc","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1680,"wires":[["ac375e76.b805b"]]},{"id":"ac375e76.b805b","type":"function","z":"ba1e4f7d.a87f3","name":"create kill cmd","func":"msg.payload = \"sudo killall fim\";\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":1660,"wires":[["74e393ec.efd44c"]]},{"id":"d6be8805.cc7ef8","type":"ui_button","z":"ba1e4f7d.a87f3","name":"","group":"ac137d79.4eec5","order":3,"width":0,"height":0,"passthru":false,"label":"stop slideshow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1640,"wires":[["ac375e76.b805b"]]},{"id":"e753aea.eb2e95","type":"ui_button","z":"ba1e4f7d.a87f3","name":"","group":"ac137d79.4eec5","order":2,"width":0,"height":0,"passthru":false,"label":"restart slideshow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1580,"wires":[["ac375e76.b805b","e0dd1470.4cb8d8"]]},{"id":"e0dd1470.4cb8d8","type":"delay","z":"ba1e4f7d.a87f3","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1580,"wires":[["c840d4d3.0f7128"]]},{"id":"620c9d19.e77d34","type":"comment","z":"ba1e4f7d.a87f3","name":"fim","info":"","x":100,"y":1420,"wires":[]},{"id":"74e393ec.efd44c","type":"exec","z":"ba1e4f7d.a87f3","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":1660,"wires":[["99f08f1e.a5247"],["99f08f1e.a5247"],[]]},{"id":"99f08f1e.a5247","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1660,"wires":[]},{"id":"23fd144.87a42ec","type":"exec","z":"ba1e4f7d.a87f3","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":1880,"wires":[["16fa0e77.2ed662"],["16fa0e77.2ed662"],[]]},{"id":"4be812e8.6c5c0c","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1900,"wires":[["6630e260.67d91c"]]},{"id":"6630e260.67d91c","type":"function","z":"ba1e4f7d.a87f3","name":"create omxplayer cmd","func":"var folder = \"/home/pi/media/telegram/\";\n\nmsg.payload = \"sudo omxplayer -b \" + folder + \"*.mp4\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1880,"wires":[["23fd144.87a42ec"]]},{"id":"16fa0e77.2ed662","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":1880,"wires":[]},{"id":"473eaea.6e0955","type":"ui_button","z":"ba1e4f7d.a87f3","name":"","group":"47e9fd6a.bb2c94","order":1,"width":0,"height":0,"passthru":false,"label":"start videoshow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1860,"wires":[["6630e260.67d91c"]]},{"id":"4737b0ac.35833","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2000,"wires":[["6610924b.43c2dc"]]},{"id":"6610924b.43c2dc","type":"function","z":"ba1e4f7d.a87f3","name":"create kill cmd","func":"msg.payload = \"sudo killall omxplayer.bin\";\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":1980,"wires":[["3e12acf.d557d54"]]},{"id":"2c1d8e1b.495b52","type":"ui_button","z":"ba1e4f7d.a87f3","name":"","group":"47e9fd6a.bb2c94","order":2,"width":0,"height":0,"passthru":false,"label":"stop videoshow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1960,"wires":[["6610924b.43c2dc"]]},{"id":"48900a05.f1d6a4","type":"comment","z":"ba1e4f7d.a87f3","name":"omxplayer ","info":"","x":120,"y":1800,"wires":[]},{"id":"3e12acf.d557d54","type":"exec","z":"ba1e4f7d.a87f3","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":1980,"wires":[["c3efd311.79bcf"],["c3efd311.79bcf"],[]]},{"id":"c3efd311.79bcf","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":1980,"wires":[]},{"id":"5f31aa92.80caf4","type":"comment","z":"5af1388b.ef9838","name":"Dashboard unused","info":"","x":270,"y":1700,"wires":[]},{"id":"6eb4a9aa.8de568","type":"ui_toast","z":"5af1388b.ef9838","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Abbrechen","raw":false,"topic":"","name":"","x":550,"y":1760,"wires":[[]]},{"id":"583882c6.a20d2c","type":"function","z":"5af1388b.ef9838","name":"Input.SendText","func":"return {\n    payload: \n        {\n            \"cmd\":\"Input.SendText\",\n            \"params\":{\n                \"text\":\"blubb\"\n            }\n        }\n};","outputs":1,"noerr":0,"x":1460,"y":1100,"wires":[["6b411980.a2ece8"]]},{"id":"beee446f.1b1f48","type":"inject","z":"5af1388b.ef9838","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":1100,"wires":[["583882c6.a20d2c"]]},{"id":"ab1b6e6.0cf699","type":"function","z":"5af1388b.ef9838","name":"convert","func":"msg.payload = Math.round(msg.payload/5);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1120,"wires":[["99bf7b1a.41e4f8"]]},{"id":"f7056c7a.85c5c","type":"function","z":"7c56a241.1e88dc","name":"add user","func":"if(flow.get('newuserallow')){\n    \n    msg.payload = msg.payload.chatId;\n    \n    return msg;\n    \n}\n","outputs":1,"noerr":0,"x":420,"y":2440,"wires":[["9f2c06f5.e84578","762299e2.b08378","20f4a5de.5065ba"]]},{"id":"9f2c06f5.e84578","type":"ui_text","z":"7c56a241.1e88dc","group":"3e3a5d75.a251e2","order":2,"width":6,"height":1,"name":"","label":"Chat ID:","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":2480,"wires":[]},{"id":"a13b8087.ca44b","type":"ui_text_input","z":"7c56a241.1e88dc","name":"","label":"Name","tooltip":"","group":"3e3a5d75.a251e2","order":3,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":910,"y":2480,"wires":[["e7014a1b.9c3398"]]},{"id":"e6d51937.2ef0b8","type":"comment","z":"7c56a241.1e88dc","name":"Nachricht empfangen","info":"","x":140,"y":60,"wires":[]},{"id":"757faf3f.cc2c2","type":"ui_button","z":"7c56a241.1e88dc","name":"","group":"3e3a5d75.a251e2","order":4,"width":2,"height":1,"passthru":false,"label":"add","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":2360,"wires":[["804ae741.99e948"]]},{"id":"451b6501.9ca6fc","type":"change","z":"7c56a241.1e88dc","name":"set newuserallow","rules":[{"t":"set","p":"newuserallow","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2600,"wires":[[]]},{"id":"476d2ce0.c3db64","type":"ui_switch","z":"7c56a241.1e88dc","name":"","label":"Hinzufügen erlauben?","tooltip":"","group":"3e3a5d75.a251e2","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":400,"y":2600,"wires":[["451b6501.9ca6fc","a90e0331.97fe"]]},{"id":"e7014a1b.9c3398","type":"change","z":"7c56a241.1e88dc","name":"set newusername","rules":[{"t":"set","p":"newusername","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2480,"wires":[[]]},{"id":"804ae741.99e948","type":"function","z":"7c56a241.1e88dc","name":"add user to userlist","func":"// Variablen abspeichern\n\nvar userlist = global.get('userlist');\nvar name = flow.get('newusername');\nvar chatid = flow.get('newuserchatid');\nvar user = { name,\n            chatid\n        }\n\n\n// Überprüfen ob User bereits in Liste vorhanden\n\nfor (var i=0; i < userlist.length; i++) {\n    if(userlist[i].chatid == user.chatid || userlist[i].name == user.name){\n        msg.payload = \"User oder Chat-ID bereits eingetragen\";\n        return [null, msg];\n    }\n}\n\n\nuserlist.push(user);\nglobal.set('userlist', userlist);\n\n\nmsg.payload = \"User \" + name + \" hinzugefügt!\";\n\nreturn [msg, null];","outputs":2,"noerr":0,"x":650,"y":2360,"wires":[["1b33b81b.c8c678","8e34fc29.95d0e"],["f763e0f4.f8871"]]},{"id":"762299e2.b08378","type":"change","z":"7c56a241.1e88dc","name":"set newuserchatid","rules":[{"t":"set","p":"newuserchatid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2440,"wires":[[]]},{"id":"f0adc1e7.e4047","type":"function","z":"7c56a241.1e88dc","name":"reset userlist array","func":"var userlist = [];\n\nglobal.set('userlist', userlist);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":2120,"wires":[["b1e0eefd.f5d6f"]]},{"id":"12b1ebc3.9fb144","type":"function","z":"37ee46c5.d3e98a","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"27dbf3c5.ea56ac","type":"persist in","z":"7c56a241.1e88dc","name":"userlist","storageNode":"aa40158d.83bf68","x":880,"y":2040,"wires":[]},{"id":"81133135.59e94","type":"persist out","z":"7c56a241.1e88dc","name":"userlist","storageNode":"aa40158d.83bf68","x":240,"y":2180,"wires":[["859a3652.7d91d8"]]},{"id":"f763e0f4.f8871","type":"ui_toast","z":"7c56a241.1e88dc","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"User exists","x":870,"y":2380,"wires":[[]]},{"id":"dba4e951.a9efa8","type":"ui_button","z":"7c56a241.1e88dc","name":"Delete","group":"a974a1dc.2318","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-trash","payload":"","payloadType":"str","topic":"","x":190,"y":2900,"wires":[["edf3d6a.2b23428"]]},{"id":"e8159558.7ba548","type":"ui_text_input","z":"7c56a241.1e88dc","name":"","label":"Name","tooltip":"","group":"a974a1dc.2318","order":1,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":250,"y":2840,"wires":[["e786a2e1.b3a2b"]]},{"id":"a0dc3f6b.e367e","type":"function","z":"7c56a241.1e88dc","name":"delete user from userlist","func":"var userlist = global.get('userlist');\nvar name = flow.get('userdel');\n\n// Überprüfen ob User bereits in Liste vorhanden\n\nfor (var i=0; i < userlist.length; i++) {\n    if(userlist[i].name == name){\n        userlist.splice(i, 1);\n        msg.payload = \"User \" + name + \" gelöscht!\";\n        return msg;\n    }\n}\n\nmsg.payload = \"User \" + name + \" nicht vorhanden\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":2900,"wires":[["6cf1a068.8292a","fb805673.96fe38"]]},{"id":"e786a2e1.b3a2b","type":"change","z":"7c56a241.1e88dc","name":"set userdel","rules":[{"t":"set","p":"userdel","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":2840,"wires":[[]]},{"id":"20f4a5de.5065ba","type":"function","z":"7c56a241.1e88dc","name":"format text","func":"msg.payload = \"Neuer Nutzer mit der ChatID \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":2520,"wires":[["ffccee7f.7a23d"]]},{"id":"ffccee7f.7a23d","type":"ui_toast","z":"7c56a241.1e88dc","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":730,"y":2520,"wires":[]},{"id":"5b81269d.e5e4c8","type":"inject","z":"7c56a241.1e88dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":2120,"wires":[["f0adc1e7.e4047"]]},{"id":"1874c46c.dc959c","type":"function","z":"7c56a241.1e88dc","name":"Gate user exists?","func":"// Variablen setzen\n\nvar userlist = global.get('userlist');\nvar chatid = msg.payload.chatId;\n\n// Überprüfen ob User in Liste vorhanden\n\nfor (var i=0; i < userlist.length; i++) {\n    \n    if(userlist[i].chatid == chatid){\n        return msg;\n    }\n}\n\n","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["c66f4c4.35413b"]]},{"id":"acc8335f.4cf74","type":"telegram sender","z":"7c56a241.1e88dc","name":"","bot":"ca6d8830.a2dc48","x":620,"y":260,"wires":[[]]},{"id":"d08da02a.c9ddd","type":"exec","z":"7c56a241.1e88dc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1040,"y":200,"wires":[["8d68d44e.2b2578"],[],[]]},{"id":"e21f5b8.47cd3a8","type":"function","z":"7c56a241.1e88dc","name":"wget Image","func":"try {\n    msg.payload = \"wget \" + msg.payload.weblink +\" -P /home/pi/media/telegram/01_incoming\";\n    return msg;\n} catch (e){}","outputs":1,"noerr":0,"x":890,"y":200,"wires":[["d08da02a.c9ddd"]]},{"id":"859e9bb8.08dea8","type":"inject","z":"7c56a241.1e88dc","name":"","topic":"","payload":"25235235435","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2440,"wires":[["6f5b8b48.395204"]]},{"id":"6f5b8b48.395204","type":"function","z":"7c56a241.1e88dc","name":"tele Message sim","func":"var chatId = msg.payload;\nvar messageId = 12;\nvar type = \"message\";\nvar content = \"blubb\"\n\nmsg.payload ={ chatId, messageId, type, content }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":2500,"wires":[["f7056c7a.85c5c"]]},{"id":"9d2bef95.e1e3a","type":"delay","z":"7c56a241.1e88dc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":2680,"wires":[["476d2ce0.c3db64"]]},{"id":"6cf1a068.8292a","type":"ui_toast","z":"7c56a241.1e88dc","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1090,"y":2900,"wires":[]},{"id":"3fc5248a.79ae4c","type":"comment","z":"7c56a241.1e88dc","name":"Nutzer löschen","info":"","x":200,"y":2780,"wires":[]},{"id":"7a84f3a9.010e6c","type":"comment","z":"7c56a241.1e88dc","name":"Nutzer hinzufügen","info":"","x":210,"y":2280,"wires":[]},{"id":"faa710fa.a3be","type":"comment","z":"7c56a241.1e88dc","name":"Nutzerliste","info":"","x":178.75,"y":2033.75,"wires":[]},{"id":"859a3652.7d91d8","type":"change","z":"7c56a241.1e88dc","name":"set userlist","rules":[{"t":"set","p":"userlist","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":2180,"wires":[["b1e0eefd.f5d6f"]]},{"id":"49556607.9cccc8","type":"function","z":"7c56a241.1e88dc","name":"format userlist","func":"var userlist = msg.payload;\nmsg.payload = \"\";\n\nfor (var i=0; i < userlist.length; i++) {\n    msg.payload = msg.payload + \"<tr><td>\" + userlist[i].name + \"</td><td>\" + userlist[i].chatid + \"</td></tr>\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":2180,"wires":[["a3cb9891.1b4998"]]},{"id":"b1e0eefd.f5d6f","type":"change","z":"7c56a241.1e88dc","name":"get userlist","rules":[{"t":"set","p":"payload","pt":"msg","to":"userlist","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2140,"wires":[["27dbf3c5.ea56ac","49556607.9cccc8","5ff7f213.dc881c"]]},{"id":"1b33b81b.c8c678","type":"ui_toast","z":"7c56a241.1e88dc","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":870,"y":2340,"wires":[[]]},{"id":"fdf976eb.414d08","type":"link out","z":"7c56a241.1e88dc","name":"","links":["11cd389c.d11267"],"x":235,"y":180,"wires":[]},{"id":"11cd389c.d11267","type":"link in","z":"7c56a241.1e88dc","name":"","links":["fdf976eb.414d08"],"x":280,"y":2340,"wires":[["f7056c7a.85c5c"]]},{"id":"7b771b5.e814ee4","type":"inject","z":"7c56a241.1e88dc","name":"","topic":"","payload":"234523","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2400,"wires":[["6f5b8b48.395204"]]},{"id":"d3db6368.6ef7e","type":"inject","z":"7c56a241.1e88dc","name":"","topic":"","payload":"234","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2360,"wires":[["6f5b8b48.395204"]]},{"id":"a90e0331.97fe","type":"function","z":"7c56a241.1e88dc","name":"true-> false","func":"if(msg.payload){\n    msg.payload = false;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":310,"y":2680,"wires":[["9d2bef95.e1e3a"]]},{"id":"d6db478c.577268","type":"link in","z":"7c56a241.1e88dc","name":"","links":["8e34fc29.95d0e","fb805673.96fe38"],"x":615,"y":2180,"wires":[["b1e0eefd.f5d6f"]]},{"id":"8e34fc29.95d0e","type":"link out","z":"7c56a241.1e88dc","name":"","links":["d6db478c.577268"],"x":775,"y":2300,"wires":[]},{"id":"fb805673.96fe38","type":"link out","z":"7c56a241.1e88dc","name":"","links":["d6db478c.577268"],"x":1015,"y":2860,"wires":[]},{"id":"5ff7f213.dc881c","type":"ui_table","z":"7c56a241.1e88dc","group":"6ea23321.89550c","name":"","order":1,"width":8,"height":6,"columns":[{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"chatid","title":"Chat-ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":930,"y":2100,"wires":[["eaa29f3a.26b62"]]},{"id":"a3cb9891.1b4998","type":"template","z":"7c56a241.1e88dc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<style>\nth {\n  text-align: center;\n}\n</style>\n</head>\n\n<body>\n<table style=\"width:100%; text-align:center\">\n  <tr>\n    <th>Name</th>\n    <th>Chat-ID</th> \n  </tr>\n    {{payload}}\n</table>\n\n</body>\n</html>\n","output":"str","x":1080,"y":2180,"wires":[[]]},{"id":"eaa29f3a.26b62","type":"function","z":"7c56a241.1e88dc","name":"get name","func":"try{\n    msg.payload = msg.payload.name;\n} catch (e){}\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":2100,"wires":[["4fd715d2.f30bec"]]},{"id":"4fd715d2.f30bec","type":"link out","z":"7c56a241.1e88dc","name":"","links":["8bc512af.c6d39"],"x":1215,"y":2100,"wires":[]},{"id":"8bc512af.c6d39","type":"link in","z":"7c56a241.1e88dc","name":"","links":["4fd715d2.f30bec"],"x":155,"y":2840,"wires":[["e8159558.7ba548"]]},{"id":"8b7c9098.b7c87","type":"ui_toast","z":"7c56a241.1e88dc","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Abbrechen","raw":false,"topic":"","name":"","x":490,"y":2900,"wires":[["e0267b70.807be8"]]},{"id":"edf3d6a.2b23428","type":"function","z":"7c56a241.1e88dc","name":"delete?","func":"var name = flow.get('userdel');\n\nmsg.payload = \"User \" + name + \" wirklich löschen?\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":2900,"wires":[["8b7c9098.b7c87"]]},{"id":"e0267b70.807be8","type":"function","z":"7c56a241.1e88dc","name":"gate \"OK\"","func":"if(msg.payload === \"OK\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":640,"y":2900,"wires":[["a0dc3f6b.e367e"]]},{"id":"c67a9b7.e69db68","type":"comment","z":"7c56a241.1e88dc","name":"Add Text","info":"","x":140,"y":760,"wires":[]},{"id":"2a0f261a.c87d7a","type":"exec","z":"7c56a241.1e88dc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":820,"wires":[["1ff4af87.33baf"],[],[]]},{"id":"47b2d8c4.6cd5c8","type":"function","z":"7c56a241.1e88dc","name":"convert image add text","func":"var imagepath = \"/home/pi/media/telegram/02_preprocessing/\";\nvar resultpath = imagepath;\n\nimagepath = imagepath + flow.get('filenameResize');\nresultpath = resultpath + flow.get('filenameResize') + \".addText.jpg\";\n\nvar bgalpha = flow.get('bgalpha') || \"00\";\nvar bgcolor = flow.get('bgcolor') || \"000000\";\nvar text = flow.get('lastTelegramMessage') || \"no text entered\";\nvar textsize = \"\";\nif (flow.get('textsize') > 0){\n    textsize = \" -pointsize \" + (flow.get('textsize') || 30);\n}\nvar sizeX = ((flow.get('lastImageWidth')) * (flow.get('lastImageResize'))/100) - flow.get('cropX');\nvar sizeY = ((flow.get('lastImageHeight')) * (flow.get('lastImageResize'))/100) - flow.get('cropY');\nvar gravity = flow.get('gravity') || \"center\";\nvar color = flow.get('color') || white;\nvar font = flow.get('font') || \"Liberation-Sans\";\nvar undercolor = \"\";\nif (flow.get('undercolor') !== \"off\"){\n    undercolor = \" -undercolor \" + (flow.get('undercolor') || black);\n}\n\nmsg.topic = \"textTrue\";\nmsg.payload = \"convert -background '#\" + bgcolor + bgalpha + \"' -gravity \" + gravity + \" -fill \" + color + undercolor + textsize + \" -font \" + font + \" -size \" + sizeX + \"x\" + sizeY + \" caption:'\" + text + \"' \" + imagepath + \" +swap -gravity \" + gravity + \" -composite \" + resultpath;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":820,"wires":[["2a0f261a.c87d7a"]]},{"id":"90f79f30.5128a","type":"ui_text_input","z":"7c56a241.1e88dc","name":"","label":"","tooltip":"","group":"df1cecd4.4f555","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":300,"y":1400,"wires":[["e6038caa.89d","6660cfe.4d8bc3"]]},{"id":"ac2280f9.16249","type":"ui_slider","z":"7c56a241.1e88dc","name":"","label":"Textgröße (0 = Auto)","tooltip":"","group":"df1cecd4.4f555","order":5,"width":12,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"300","step":1,"x":340,"y":1440,"wires":[["fbf4878e.4717a8","6660cfe.4d8bc3"]]},{"id":"fbf4878e.4717a8","type":"change","z":"7c56a241.1e88dc","name":"set textsize","rules":[{"t":"set","p":"textsize","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1440,"wires":[["cfed2e53.218c4"]]},{"id":"dbda7118.3ce1","type":"change","z":"7c56a241.1e88dc","name":"","rules":[{"t":"set","p":"cropX","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1500,"wires":[["4044d43a.bedd7c"]]},{"id":"40429ec1.98ae4","type":"change","z":"7c56a241.1e88dc","name":"","rules":[{"t":"set","p":"cropY","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1560,"wires":[["28352150.11049e"]]},{"id":"3d21531.919c4ac","type":"ui_dropdown","z":"7c56a241.1e88dc","name":"","label":"Textfarbe","tooltip":"","place":"Select option","group":"df1cecd4.4f555","order":7,"width":7,"height":1,"passthru":true,"options":[{"label":"weiß","value":"white","type":"str"},{"label":"gelb","value":"yellow","type":"str"},{"label":"grün","value":"green","type":"str"}],"payload":"","topic":"","x":300,"y":1680,"wires":[["b0e629e7.3c2188","6660cfe.4d8bc3"]]},{"id":"b0e629e7.3c2188","type":"change","z":"7c56a241.1e88dc","name":"set color","rules":[{"t":"set","p":"color","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1680,"wires":[["358d0942.7d2936"]]},{"id":"e6038caa.89d","type":"change","z":"7c56a241.1e88dc","name":"set text","rules":[{"t":"set","p":"text","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1400,"wires":[["ed1b362e.9d5968"]]},{"id":"6d099478.6b2b4c","type":"ui_button","z":"7c56a241.1e88dc","name":"","group":"df1cecd4.4f555","order":14,"width":6,"height":1,"passthru":false,"label":"Vorschau","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"preview","payloadType":"str","topic":"","x":1220,"y":1420,"wires":[["ef90c7f4.06d958","33dfef36.1813b"]]},{"id":"cbfecc82.1d24b","type":"ui_dropdown","z":"7c56a241.1e88dc","name":"","label":"Texthintergrundfarbe","tooltip":"","place":"Select option","group":"df1cecd4.4f555","order":8,"width":13,"height":1,"passthru":true,"options":[{"label":"schwarz","value":"black","type":"str"},{"label":"grau","value":"grey","type":"str"},{"label":"weiß","value":"white","type":"str"},{"label":"Aus","value":"off","type":"str"}],"payload":"","topic":"","x":340,"y":1740,"wires":[["8134f650.06c6e8","6660cfe.4d8bc3"]]},{"id":"8134f650.06c6e8","type":"change","z":"7c56a241.1e88dc","name":"set undercolor","rules":[{"t":"set","p":"undercolor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1740,"wires":[["83dbf2f.ff19f1"]]},{"id":"975f0fbb.92c15","type":"change","z":"7c56a241.1e88dc","name":"set bgcolor","rules":[{"t":"set","p":"bgcolor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1800,"wires":[["1ffe1d7c.c14403"]]},{"id":"ef90c7f4.06d958","type":"function","z":"7c56a241.1e88dc","name":"set color","func":"if (msg.payload === \"\"){\n    msg.payload = \"#34eb5c\"; //green\n} else {\n    msg.payload = \"#ebe534\"; //yellow\n}\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1480,"wires":[["6d099478.6b2b4c"]]},{"id":"6660cfe.4d8bc3","type":"function","z":"7c56a241.1e88dc","name":"set bt color","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1420,"wires":[["6d099478.6b2b4c"]]},{"id":"33dfef36.1813b","type":"delay","z":"7c56a241.1e88dc","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1420,"y":1420,"wires":[["d0a83fff.6eaba"]]},{"id":"63c3affe.9cbca","type":"ui_dropdown","z":"7c56a241.1e88dc","name":"","label":"Font","tooltip":"","place":"Select option","group":"df1cecd4.4f555","order":6,"width":8,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":610,"y":1920,"wires":[["78feb7ea.4a8028","6660cfe.4d8bc3"]]},{"id":"8c8ad3b9.a0ebf","type":"inject","z":"7c56a241.1e88dc","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":280,"y":1920,"wires":[["7149253a.796c3c"]]},{"id":"8254dada.b94d58","type":"ui_text_input","z":"7c56a241.1e88dc","name":"","label":"Crop X","tooltip":"","group":"df1cecd4.4f555","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":290,"y":1500,"wires":[["dbda7118.3ce1","6660cfe.4d8bc3"]]},{"id":"1aa8b429.d2cb4c","type":"ui_text_input","z":"7c56a241.1e88dc","name":"","label":"Crop Y","tooltip":"","group":"df1cecd4.4f555","order":3,"width":6,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":300,"y":1560,"wires":[["40429ec1.98ae4","6660cfe.4d8bc3"]]},{"id":"5d9fbd8b.699e44","type":"change","z":"7c56a241.1e88dc","name":"set gravity","rules":[{"t":"set","p":"gravity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1620,"wires":[["bd6139aa.649098"]]},{"id":"d180f32d.9e311","type":"ui_dropdown","z":"7c56a241.1e88dc","name":"","label":"Position","tooltip":"","place":"Select option","group":"df1cecd4.4f555","order":4,"width":8,"height":1,"passthru":true,"options":[{"label":"Mitte","value":"center","type":"str"},{"label":"Oben","value":"north","type":"str"},{"label":"Unten","value":"south","type":"str"},{"label":"Links","value":"west","type":"str"},{"label":"Rechts","value":"east","type":"str"},{"label":"Oben-links","value":"northwest","type":"str"},{"label":"Oben-rechts","value":"northeast","type":"str"},{"label":"Unten-links","value":"southwest","type":"str"},{"label":"Unten-rechts","value":"southeast","type":"str"}],"payload":"","topic":"","x":300,"y":1620,"wires":[["5d9fbd8b.699e44","6660cfe.4d8bc3"]]},{"id":"78feb7ea.4a8028","type":"change","z":"7c56a241.1e88dc","name":"set font","rules":[{"t":"set","p":"font","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1920,"wires":[["ae65c529.28aca8"]]},{"id":"6d59b988.e1fa18","type":"ui_slider","z":"7c56a241.1e88dc","name":"","label":"Transparenz (0 = max)","tooltip":"","group":"df1cecd4.4f555","order":10,"width":13,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":"1","x":340,"y":1860,"wires":[["fbafa881.198c28"]]},{"id":"bea0cf56.50f72","type":"change","z":"7c56a241.1e88dc","name":"set bgalpha","rules":[{"t":"set","p":"bgalpha","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1860,"wires":[["25f04c65.41db54"]]},{"id":"585a7ad.f3eb984","type":"ui_colour_picker","z":"7c56a241.1e88dc","name":"","label":"Hintergrundfarbe","group":"df1cecd4.4f555","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":9,"width":7,"height":1,"passthru":true,"topic":"","x":330,"y":1800,"wires":[["6874c671.202dd8"]]},{"id":"fbafa881.198c28","type":"function","z":"7c56a241.1e88dc","name":"-> hex","func":"msg.payload = msg.payload.toString(16);\n\nif(msg.payload.length < 2){\n    msg.payload = \"0\" + msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1860,"wires":[["bea0cf56.50f72","6660cfe.4d8bc3"]]},{"id":"7149253a.796c3c","type":"function","z":"7c56a241.1e88dc","name":"fonts options","func":"var options = [\"AvantGarde-Book\",\"AvantGarde-BookOblique\",\"AvantGarde-Demi\",\"AvantGarde-DemiOblique\",\"Bookman-Demi\",\"Bookman-DemiItalic\",\"Bookman-Light\",\"Bookman-LightItalic\",\"Century-Schoolbook-L-Bold\",\"Century-School\",\"ook-L-Bold-Italic\",\"Century-Schoolbook-L-Italic\",\"Century-Schoolbook-L-Roman\",\"Courier\",\"Courier-Bold\",\"Courier-BoldOblique\",\"Courier-Oblique\",\"DejaVuMathTeXGyre-Regular\",\"DejaVu-Sans\",\"DejaVu-Sans-Bold\",\"DejaVu-Sans-Bold-Oblique\",\"DejaVu-Sans-Condensed\",\"DejaVu-Sans-Condensed-Bold\",\"DejaVu-Sans-Condensed-Bold-Oblique\",\"DejaVu-Sans-Condensed-Oblique\",\"DejaVu-Sans-ExtraLight\",\"DejaVu-Sans-Mono\",\"DejaVu-Sans-Mono-Bold\",\"DejaVu-Sans-Mono-Bold-Oblique\",\"DejaVu-Sans-Mono-Oblique\",\"DejaVu-Sans-Oblique\",\"DejaVu-Serif\",\"DejaVu-Serif-Bold\",\"DejaVu-Serif-Bold-Italic\",\"DejaVu-Serif-Condensed\",\"DejaVu-Serif-Condensed-Bold\",\"DejaVu-Serif-Condensed-Bold-Italic\",\"DejaVu-Serif-Condensed-Italic\",\"DejaVu-Serif-Italic\",\"Dingbats\",\"Droid-Sans-Fallback\",\"fixed\",\"FreeMono\",\"FreeMono-Bold\",\"FreeMono-Bold-Oblique\",\"FreeMono-Oblique\",\"FreeSans\",\"FreeSans-Bold\",\"FreeSans-Bold-Oblique\",\"FreeSans-Oblique\",\"FreeSerif\",\"FreeSerif-Bold\",\"FreeSerif-Bold-Italic\",\"FreeSerif-Italic\",\"Helvetica\",\"Helvetica-Bold\",\"Helvetica-BoldOblique\",\"Helvetica-Narrow\",\"Helvetica-Narrow-Bold\",\"Helvetica-Narrow-BoldOblique\",\"Helvetica-Narrow-Oblique\",\"Helvetica-Oblique\",\"Liberation-Mono\",\"Liberation-Mono-Bold\",\"Liberation-Mono-Bold-Italic\",\"Liberation-Mono-Italic\",\"Liberation-Sans\",\"Liberation-Sans-Bold\",\"Liberation-Sans-Bold-Italic\",\"Liberation-Sans-Italic\",\"Liberation-Sans-Narrow\",\"Liberation-Sans-Narrow-Bold\",\"Liberation-Sans-Narrow-Bold-Italic\",\"Liberation-Sans-Narrow-Italic\",\"Liberation-Serif\",\"Liberation-Serif-Bold\",\"Liberation-Serif-Bold-Italic\",\"Liberation-Serif-Italic\",\"NewCenturySchlbk-Bold\",\"NewCenturySchlbk-BoldItalic\",\"NewCenturySchlbk-Italic\",\"NewCenturySchlbk-Roman\",\"Nimbus-Mono-L\",\"Nimbus-Mono-L-Bold\",\"Nimbus-Mono-L-Bold-Oblique\",\"Nimbus-Mono-L-Regular-Oblique\",\"Nimbus-Roman-No9-L\",\"Nimbus-Roman-No9-L-Medium\",\"Nimbus-Roman-No9-L-Medium-Italic\",\"Nimbus-Roman-No9-L-Regular-Italic\",\"Nimbus-Sans-L\",\"Nimbus-Sans-L-Bold\",\"Nimbus-Sans-L-Bold-Condensed\",\"Nimbus-Sans-L-Bold-Condensed-Italic\",\"Nimbus-Sans-L-Bold-Italic\",\"Nimbus-Sans-L-Regular-Condensed\",\"Nimbus-Sans-L-Regular-Condensed-Italic\",\"Nimbus-Sans-L-Regular-Italic\",\"Noto-Mono\",\"Palatino-Bold\",\"Palatino-BoldItalic\",\"Palatino-Italic\",\"Palatino-Roman\",\"Piboto-Bold\",\"Piboto-Bold-Italic\",\"Piboto-Condensed-Bold\",\"Piboto-Condensed-Bold-Italic\",\"Piboto-Condensed-Italic\",\"Piboto-Condensed-Regular\",\"Piboto-Italic\",\"Piboto-Light\",\"Piboto-Light-Italic\",\"PibotoLt-Bold\",\"PibotoLt-Bold-Italic\",\"PibotoLt-Italic\",\"PibotoLt-Regular\",\"Piboto-Regular\",\"Piboto-Thin\",\"Piboto-Thin-Italic\",\"Quicksand-Bold\",\"Quicksand-Light\",\"Quicksand-Medium\",\"Quicksand-Regular\",\"Standard-Symbols-L\",\"Symbol\",\"Times-Bold\",\"Times-BoldItalic\",\"Times-Italic\",\"Times-Roman\",\"URW-Bookman-L-Demi-Bold\",\"URW-Bookman-L-Demi-Bold-Italic\",\"URW-Bookman-L-Light\",\"URW-Bookman-L-Light-Italic\",\"URW-Chancery-L-Medium-Italic\",\"URW-Gothic-L-Book\",\"URW-Gothic-L-Book-Oblique\",\"URW-Gothic-L-Demi\",\"URW-Gothic-L-Demi-Oblique\",\"URW-Palladio-L-Bold\",\"URW-Palladio-L-Bold-Italic\",\"URW-Palladio-L-Italic\",\"URW-Palladio-L-Roman\"];\nmsg = {options};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1920,"wires":[["63c3affe.9cbca"]]},{"id":"91e306eb.14ef18","type":"file in","z":"7c56a241.1e88dc","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1410,"y":1720,"wires":[["6054f05a.f0311"]]},{"id":"6054f05a.f0311","type":"base64","z":"7c56a241.1e88dc","name":"","action":"str","property":"payload","x":1560,"y":1720,"wires":[["a1cf66a1.500238"]]},{"id":"a1cf66a1.500238","type":"ui_template","z":"7c56a241.1e88dc","group":"df1cecd4.4f555","name":"Vorschau","order":17,"width":15,"height":6,"format":"<img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1700,"y":1720,"wires":[[]]},{"id":"47377c6c.b062e4","type":"function","z":"7c56a241.1e88dc","name":"set file","func":"var filename = \"/home/pi/media/telegram/preview/previewText.jpg\";\nmsg = { filename };\nreturn msg;\n","outputs":1,"noerr":0,"x":1710,"y":1640,"wires":[["91e306eb.14ef18"]]},{"id":"9dfe85ae.25ea38","type":"comment","z":"7c56a241.1e88dc","name":"Resize incoming Images","info":"","x":190,"y":520,"wires":[]},{"id":"e7b315f5.d81018","type":"change","z":"7c56a241.1e88dc","name":"","rules":[{"t":"set","p":"lastTelegramMessage","pt":"flow","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":140,"wires":[[]]},{"id":"bc5c689d.b3fa98","type":"comment","z":"dfa0e0a5.c8001","name":"Displayauflösung","info":"","x":140,"y":80,"wires":[]},{"id":"e27c7715.f4ce48","type":"ui_text_input","z":"dfa0e0a5.c8001","name":"","label":"y","tooltip":"","group":"cbf02e0a.18499","order":3,"width":3,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":290,"y":220,"wires":[["7836b6e0.a8b778"]]},{"id":"f7532169.84116","type":"ui_text_input","z":"dfa0e0a5.c8001","name":"","label":"x","tooltip":"","group":"cbf02e0a.18499","order":2,"width":3,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":290,"y":180,"wires":[["bc339cc2.9fc39"]]},{"id":"7836b6e0.a8b778","type":"change","z":"dfa0e0a5.c8001","name":"","rules":[{"t":"set","p":"displayHeight","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[["d0308973.9e7a18"]]},{"id":"bc339cc2.9fc39","type":"change","z":"dfa0e0a5.c8001","name":"","rules":[{"t":"set","p":"displayWidth","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["6a9d0ab7.38fd44"]]},{"id":"2b7c62e2.d3c16e","type":"image-info","z":"7c56a241.1e88dc","name":"","x":710,"y":380,"wires":[["dfb12308.fde7e"]]},{"id":"d8607587.5f2828","type":"function","z":"7c56a241.1e88dc","name":"set file","func":"var lastTelegramFilename = flow.get('lastTelegramFilename');\nvar filename = \"/home/pi/media/telegram/02_preprocessing/\" + lastTelegramFilename;\nmsg = { filename,\n        lastTelegramFilename };\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["4f5819a7.f38628"]]},{"id":"44994d6f.c5ae14","type":"base64","z":"7c56a241.1e88dc","name":"","action":"str","property":"payload","x":540,"y":380,"wires":[["2b7c62e2.d3c16e"]]},{"id":"4f5819a7.f38628","type":"file in","z":"7c56a241.1e88dc","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":410,"y":400,"wires":[["44994d6f.c5ae14"]]},{"id":"78b61229.97257c","type":"change","z":"7c56a241.1e88dc","name":"","rules":[{"t":"set","p":"lastImageWidth","pt":"flow","to":"width","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":380,"wires":[["c13975e4.57fb78"]]},{"id":"dfb12308.fde7e","type":"change","z":"7c56a241.1e88dc","name":"","rules":[{"t":"set","p":"lastImageHeight","pt":"flow","to":"height","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":380,"wires":[["78b61229.97257c"]]},{"id":"cb9542d9.58ab5","type":"inject","z":"7c56a241.1e88dc","name":"Start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["d8607587.5f2828"]]},{"id":"c13975e4.57fb78","type":"function","z":"7c56a241.1e88dc","name":"convert image resize","func":"var imagepath = \"/home/pi/media/telegram/02_preprocessing/\";\nvar resultpath = imagepath;\n\nimagepath = imagepath + msg.lastTelegramFilename;\nresultpath = resultpath + msg.lastTelegramFilename + \".resize.jpg\";\n\nvar displayWidth = global.get('displayWidth');\nvar displayHeight = global.get('displayHeight');\nvar lastImageWidth = flow.get('lastImageWidth');\nvar lastImageHeight = flow.get('lastImageHeight');\n\nflow.set('filenameResize', (msg.lastTelegramFilename + \".resize.jpg\"));\n\nvar resize = \"\";\nif (lastImageWidth/lastImageHeight > displayWidth/displayHeight){\n    \n    resize = (displayWidth / lastImageWidth * 100);\n    \n} else {\n    \n    resize = (displayHeight / lastImageHeight * 100);\n}\n\nflow.set('lastImageResize', resize);\n\nmsg.payload = \"convert \" + imagepath + \" -size \" + displayWidth + \"x\" + displayHeight + \" -resize \" + resize + \"%\" + \" xc:black +swap -gravity center -composite \" + resultpath;\n\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":460,"y":520,"wires":[["361dacd6.b27bd4"]]},{"id":"361dacd6.b27bd4","type":"exec","z":"7c56a241.1e88dc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":660,"y":520,"wires":[["4ef41b3c.3e44f4"],[],[]]},{"id":"695fd683.0af3d8","type":"debug","z":"7c56a241.1e88dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":100,"wires":[]},{"id":"911c282a.81a5f8","type":"fs-file-lister","z":"7c56a241.1e88dc","name":"","start":"/home/pi/media/telegram/01_incoming","pattern":"*.jpg","folders":"*","hidden":true,"lstype":"files","path":false,"single":false,"depth":0,"stat":false,"showWarnings":true,"x":840,"y":280,"wires":[["cbf661c0.35f29"]]},{"id":"cbf661c0.35f29","type":"change","z":"7c56a241.1e88dc","name":"","rules":[{"t":"set","p":"lastTelegramFilename","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":280,"wires":[["6792b03c.50821"]]},{"id":"6792b03c.50821","type":"function","z":"7c56a241.1e88dc","name":"rename + mv -> preproc-folder","func":"var filename = \"01.jpg\";\nmsg.payload = \"mv /home/pi/media/telegram/01_incoming/\" + (flow.get('lastTelegramFilename')) + \" /home/pi/media/telegram/02_preprocessing/\" + filename;\nflow.set('lastTelegramFilename', filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":280,"wires":[["e111055e.e9f098","98da01cf.24f5d"]]},{"id":"e111055e.e9f098","type":"exec","z":"7c56a241.1e88dc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1550,"y":280,"wires":[["d6765530.0dcd48"],[],[]]},{"id":"d6765530.0dcd48","type":"function","z":"7c56a241.1e88dc","name":"if ok","func":"if (msg.payload === \"\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":1690,"y":280,"wires":[["d8607587.5f2828"]]},{"id":"8d68d44e.2b2578","type":"function","z":"7c56a241.1e88dc","name":"if ok","func":"if (msg.payload === \"\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":1190,"y":200,"wires":[["911c282a.81a5f8"]]},{"id":"4b0394ed.5dce7c","type":"change","z":"7c56a241.1e88dc","name":"","rules":[{"t":"set","p":"lastTelegramUsername","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":100,"wires":[[]]},{"id":"3eb469a9.a3f486","type":"function","z":"7c56a241.1e88dc","name":"get and store last username","func":"// Variablen abspeichern\n\nvar userlist = global.get('userlist');\n\n// Überprüfen ob User bereits in Liste vorhanden\n\nfor (var i=0; i < userlist.length; i++) {\n    if(userlist[i].chatid == msg.payload.chatId){\n        msg.payload = userlist[i].name;\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":960,"y":100,"wires":[["4b0394ed.5dce7c"]]},{"id":"9f9e5178.a6454","type":"delay","z":"7c56a241.1e88dc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"90","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":160,"wires":[["e7b315f5.d81018","3eb469a9.a3f486","7042f23b.40a91c","e21f5b8.47cd3a8"]]},{"id":"1ff4af87.33baf","type":"function","z":"7c56a241.1e88dc","name":"if ok","func":"if (msg.payload === \"\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["fd4afe8c.3fa31"]]},{"id":"fd4afe8c.3fa31","type":"function","z":"7c56a241.1e88dc","name":"convert image add name","func":"// set variables\nvar imagepath = \"/home/pi/media/telegram/02_preprocessing/\";\nvar resultpath = \"/home/pi/media/telegram/03_frameloop/\";\nvar sizeX = global.get('displayWidth');\nvar sizeY = global.get('displayHeight');\nvar gravity = (flow.get('gravityName')) || \"southeast\";\nvar undercolor = \"black\"; //\n\n// fix variables\n\nif (msg.topic === \"textTrue\"){\n    imagepath = imagepath + flow.get('filenameResize') + \".addText.jpg\";\n    resultpath = resultpath + flow.get('filenameResize') + \".addText.jpg\";\n    \n} else {\n    imagepath = imagepath + flow.get('filenameResize');\n    resultpath = resultpath + flow.get('filenameResize') + \".addName.jpg\";\n}\n\nvar textsize = (flow.get('nameTextsize')) || 40;\nvar bgalpha = \"00\";\nvar bgcolor = \"000000\";\nvar text = flow.get('lastTelegramUsername') || \"no text entered\";\nvar color = flow.get('color') || white;\nvar font = flow.get('font') || \"Liberation-Sans\";\n\nmsg.payload = \"convert -background '#\" + bgcolor + bgalpha + \"' -gravity \" + gravity + \" -fill \" + color + \" -undercolor \" + undercolor + \" -pointsize \" + textsize + \" -font \" + font + \" -size \" + sizeX + \"x\" + sizeY + \" caption:'\" + text + \"' \" + imagepath + \" +swap -gravity \" + gravity + \" -composite \" + resultpath;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":660,"wires":[["6bc46fb3.9cc96"]]},{"id":"6bc46fb3.9cc96","type":"exec","z":"7c56a241.1e88dc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1060,"y":660,"wires":[["9ef7cb10.ca27a8"],[],[]]},{"id":"9ef7cb10.ca27a8","type":"function","z":"7c56a241.1e88dc","name":"if ok","func":"if (msg.payload === \"\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":660,"wires":[["84851945.fe0028"]]},{"id":"6eff0982.4d8e18","type":"comment","z":"7c56a241.1e88dc","name":"Add Name","info":"","x":780,"y":620,"wires":[]},{"id":"96e17660.84c2d8","type":"ui_slider","z":"7c56a241.1e88dc","name":"","label":"Textgröße Name","tooltip":"","group":"df1cecd4.4f555","order":12,"width":10,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"300","step":1,"x":1260,"y":1860,"wires":[["e3208cfc.d7d2b"]]},{"id":"e3208cfc.d7d2b","type":"change","z":"7c56a241.1e88dc","name":"","rules":[{"t":"set","p":"nameTextsize","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":1860,"wires":[["dc56b1d6.a55fa"]]},{"id":"2acfda59.b19246","type":"change","z":"7c56a241.1e88dc","name":"","rules":[{"t":"set","p":"gravityName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":1920,"wires":[["7597dbe9.10b6c4"]]},{"id":"4a5f8ce2.694264","type":"ui_dropdown","z":"7c56a241.1e88dc","name":"","label":"Position Name","tooltip":"","place":"Select option","group":"df1cecd4.4f555","order":11,"width":10,"height":1,"passthru":true,"options":[{"label":"Mitte","value":"center","type":"str"},{"label":"Oben","value":"north","type":"str"},{"label":"Unten","value":"south","type":"str"},{"label":"Links","value":"west","type":"str"},{"label":"Rechts","value":"east","type":"str"},{"label":"Oben-links","value":"northwest","type":"str"},{"label":"Oben-rechts","value":"northeast","type":"str"},{"label":"Unten-links","value":"southwest","type":"str"},{"label":"Unten-rechts","value":"southeast","type":"str"}],"payload":"","topic":"","x":1260,"y":1920,"wires":[["2acfda59.b19246"]]},{"id":"7a0d1fb4.a96cb","type":"comment","z":"5af1388b.ef9838","name":"funktioniert nicht bisher","info":"","x":1320,"y":940,"wires":[]},{"id":"499a590e.d973c8","type":"debug","z":"5af1388b.ef9838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":960,"wires":[]},{"id":"84851945.fe0028","type":"function","z":"7c56a241.1e88dc","name":"convert image downsize","func":"var resize = 42;\nvar quality = 50;\n\nvar imagepath = \"/home/pi/media/telegram/03_frameloop/\";\nvar resultpath = \"/home/pi/media/telegram/03_dashboard/\";\n\nvar filename = flow.get('filenameResize') + \".addName.jpg\";\nif(msg.topic === \"textTrue\"){\n    filename = flow.get('filenameResize') + \".addText.jpg\";\n}\n\nimagepath = imagepath + filename;\nresultpath = resultpath + filename + \".dash.jpg\";\n\nmsg.payload = \"convert \" + imagepath + \" -resize \" + resize + \"% \" + \"-quality \" + quality + \" \" + resultpath;\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":800,"wires":[["ececc511.da15c8"]]},{"id":"ececc511.da15c8","type":"exec","z":"7c56a241.1e88dc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1380,"y":800,"wires":[["eb3eb427.6c6b38"],[],[]]},{"id":"23a08705.fbb988","type":"function","z":"7c56a241.1e88dc","name":"delete source files","func":"var path = \"/home/pi/media/telegram/02_preprocessing/\";\n\nmsg.payload = \"rm \" + path + \"*\";\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1060,"wires":[["7064ec00.eec2c4"]]},{"id":"7064ec00.eec2c4","type":"exec","z":"7c56a241.1e88dc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1380,"y":1060,"wires":[["6bd657.020929a8"],[],[]]},{"id":"c66f4c4.35413b","type":"function","z":"7c56a241.1e88dc","name":"image?","func":"var chatId = 0;\nvar type = \"message\";\nvar content = \"\";\nvar payload = { chatId,\n                type,\n                content\n};\nvar msg2 = {payload};\n\nif (msg.payload.type === \"photo\"){\n    msg2.payload.chatId = msg.payload.chatId;\n    msg2.payload.content = \"Danke! Deine Nachricht ist angekommen!\";\n    return [msg, msg2];\n\n} else {\n    msg2.payload.chatId = msg.payload.chatId;\n    msg2.payload.content = \"Sorry, Nachrichten kommen leider nur an, wenn sie ein Foto enthalten :-( !\";\n    return [null, msg2];\n}","outputs":2,"noerr":0,"x":400,"y":200,"wires":[["9f9e5178.a6454"],["acc8335f.4cf74"]]},{"id":"7042f23b.40a91c","type":"function","z":"7c56a241.1e88dc","name":"get and store last message","func":"try{\n    flow.set('lastTelegramMessage', msg.payload.caption);\n} catch(e){}","outputs":1,"noerr":0,"x":960,"y":60,"wires":[[]]},{"id":"ed1b362e.9d5968","type":"persist in","z":"7c56a241.1e88dc","name":"text","storageNode":"aa40158d.83bf68","x":710,"y":1400,"wires":[]},{"id":"627cd965.29f9b8","type":"persist out","z":"7c56a241.1e88dc","name":"text","storageNode":"aa40158d.83bf68","x":170,"y":1400,"wires":[["90f79f30.5128a"]]},{"id":"941919ea.591298","type":"persist out","z":"7c56a241.1e88dc","name":"textsize","storageNode":"aa40158d.83bf68","x":160,"y":1440,"wires":[["ac2280f9.16249"]]},{"id":"423001b7.fec31","type":"persist out","z":"7c56a241.1e88dc","name":"cropX","storageNode":"aa40158d.83bf68","x":170,"y":1500,"wires":[["8254dada.b94d58"]]},{"id":"18ae099d.f64776","type":"persist out","z":"7c56a241.1e88dc","name":"cropY","storageNode":"aa40158d.83bf68","x":170,"y":1560,"wires":[["1aa8b429.d2cb4c"]]},{"id":"b489b02d.1c24a","type":"persist out","z":"7c56a241.1e88dc","name":"gravity","storageNode":"aa40158d.83bf68","x":170,"y":1620,"wires":[["d180f32d.9e311"]]},{"id":"f1719bff.7db518","type":"persist out","z":"7c56a241.1e88dc","name":"color","storageNode":"aa40158d.83bf68","x":170,"y":1680,"wires":[["3d21531.919c4ac"]]},{"id":"36027ae8.bee566","type":"persist out","z":"7c56a241.1e88dc","name":"undercolor","storageNode":"aa40158d.83bf68","x":150,"y":1740,"wires":[["cbfecc82.1d24b"]]},{"id":"f034466e.9f5538","type":"persist out","z":"7c56a241.1e88dc","name":"bgcolor","storageNode":"aa40158d.83bf68","x":160,"y":1800,"wires":[["585a7ad.f3eb984"]]},{"id":"27e44bc4.7c4484","type":"persist out","z":"7c56a241.1e88dc","name":"bgalpha","storageNode":"aa40158d.83bf68","x":160,"y":1860,"wires":[["6d59b988.e1fa18"]]},{"id":"867c6ca3.d1996","type":"persist out","z":"7c56a241.1e88dc","name":"font","storageNode":"aa40158d.83bf68","x":270,"y":1980,"wires":[["79c38f03.88609"]]},{"id":"cfed2e53.218c4","type":"persist in","z":"7c56a241.1e88dc","name":"textsize","storageNode":"aa40158d.83bf68","x":720,"y":1440,"wires":[]},{"id":"4044d43a.bedd7c","type":"persist in","z":"7c56a241.1e88dc","name":"cropX","storageNode":"aa40158d.83bf68","x":710,"y":1500,"wires":[]},{"id":"28352150.11049e","type":"persist in","z":"7c56a241.1e88dc","name":"cropY","storageNode":"aa40158d.83bf68","x":710,"y":1560,"wires":[]},{"id":"bd6139aa.649098","type":"persist in","z":"7c56a241.1e88dc","name":"gravity","storageNode":"aa40158d.83bf68","x":710,"y":1620,"wires":[]},{"id":"358d0942.7d2936","type":"persist in","z":"7c56a241.1e88dc","name":"color","storageNode":"aa40158d.83bf68","x":710,"y":1680,"wires":[]},{"id":"83dbf2f.ff19f1","type":"persist in","z":"7c56a241.1e88dc","name":"undercolor","storageNode":"aa40158d.83bf68","x":730,"y":1740,"wires":[]},{"id":"1ffe1d7c.c14403","type":"persist in","z":"7c56a241.1e88dc","name":"bgcolor","storageNode":"aa40158d.83bf68","x":820,"y":1800,"wires":[]},{"id":"25f04c65.41db54","type":"persist in","z":"7c56a241.1e88dc","name":"bgalpha","storageNode":"aa40158d.83bf68","x":820,"y":1860,"wires":[]},{"id":"ae65c529.28aca8","type":"persist in","z":"7c56a241.1e88dc","name":"font","storageNode":"aa40158d.83bf68","x":890,"y":1920,"wires":[]},{"id":"5a3cd9b0.9e2848","type":"persist out","z":"7c56a241.1e88dc","name":"nameTextsize","storageNode":"aa40158d.83bf68","x":1080,"y":1860,"wires":[["96e17660.84c2d8"]]},{"id":"dc56b1d6.a55fa","type":"persist in","z":"7c56a241.1e88dc","name":"nameTextsize","storageNode":"aa40158d.83bf68","x":1680,"y":1860,"wires":[]},{"id":"49929ebb.ba7cb","type":"persist out","z":"7c56a241.1e88dc","name":"gravityName","storageNode":"aa40158d.83bf68","x":1090,"y":1920,"wires":[["4a5f8ce2.694264"]]},{"id":"7597dbe9.10b6c4","type":"persist in","z":"7c56a241.1e88dc","name":"gravityName","storageNode":"aa40158d.83bf68","x":1670,"y":1920,"wires":[]},{"id":"1599a9f1.7608d6","type":"exec","z":"7c56a241.1e88dc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1440,"y":1560,"wires":[["5dafe331.de7f3c"],[],[]]},{"id":"d0a83fff.6eaba","type":"function","z":"7c56a241.1e88dc","name":"convert image add text","func":"var imagepath = \"/home/pi/media/telegram/preview/preview.jpg\";\nvar resultpath = \"/home/pi/media/telegram/preview/previewText.jpg\";\n\nvar bgalpha = flow.get('bgalpha') || \"00\";\nvar bgcolor = flow.get('bgcolor') || \"000000\";\nvar text = flow.get('text') || \"no text entered\";\nvar textsize = \"\";\nif (flow.get('textsize') > 0){\n    textsize = \" -pointsize \" + (flow.get('textsize') || 30);\n}\nvar sizeX = 1920 - flow.get('cropX');\nvar sizeY = 1080 - flow.get('cropY');\nvar gravity = flow.get('gravity') || \"center\";\nvar color = flow.get('color') || white;\nvar font = flow.get('font') || \"Liberation-Sans\";\nvar undercolor = \"\";\nif (flow.get('undercolor') !== \"off\"){\n    undercolor = \" -undercolor \" + (flow.get('undercolor') || black);\n}\n\nmsg.payload = \"convert -background '#\" + bgcolor + bgalpha + \"' -gravity \" + gravity + \" -fill \" + color + undercolor + textsize + \" -font \" + font + \" -size \" + sizeX + \"x\" + sizeY + \" caption:'\" + text + \"' \" + imagepath + \" +swap -gravity \" + gravity + \" -composite \" + resultpath;\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1560,"wires":[["1599a9f1.7608d6"]]},{"id":"5dafe331.de7f3c","type":"function","z":"7c56a241.1e88dc","name":"if ok","func":"if (msg.payload === \"\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":1590,"y":1560,"wires":[["ec06cd21.3584f"]]},{"id":"838d0fa3.dfdf4","type":"persist out","z":"5af1388b.ef9838","name":"anzeigedauer","storageNode":"aa40158d.83bf68","x":200,"y":1200,"wires":[["acb583ed.1f6e1"]]},{"id":"af647e03.8fe05","type":"persist in","z":"5af1388b.ef9838","name":"anzeigedauer","storageNode":"aa40158d.83bf68","x":880,"y":1200,"wires":[]},{"id":"6a9d0ab7.38fd44","type":"persist in","z":"dfa0e0a5.c8001","name":"displayX","storageNode":"aa40158d.83bf68","x":740,"y":180,"wires":[]},{"id":"a6bd4590.053718","type":"persist out","z":"dfa0e0a5.c8001","name":"displayX","storageNode":"aa40158d.83bf68","x":140,"y":180,"wires":[["f7532169.84116"]]},{"id":"d0308973.9e7a18","type":"persist in","z":"dfa0e0a5.c8001","name":"displayY","storageNode":"aa40158d.83bf68","x":740,"y":220,"wires":[]},{"id":"3b565283.bda0de","type":"persist out","z":"dfa0e0a5.c8001","name":"displayY","storageNode":"aa40158d.83bf68","x":140,"y":220,"wires":[["e27c7715.f4ce48"]]},{"id":"79c38f03.88609","type":"delay","z":"7c56a241.1e88dc","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":1980,"wires":[["63c3affe.9cbca"]]},{"id":"6874c671.202dd8","type":"function","z":"7c56a241.1e88dc","name":"no #","func":"if (msg.payload.includes('#')){\n    msg.payload = msg.payload.slice(1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1800,"wires":[["975f0fbb.92c15","6660cfe.4d8bc3"]]},{"id":"e0bd1910.7e6ac8","type":"comment","z":"7c56a241.1e88dc","name":"Settings Text","info":"","x":150,"y":1340,"wires":[]},{"id":"3e32eae9.dd5636","type":"function","z":"7c56a241.1e88dc","name":"switch if text","func":"if((flow.get('lastTelegramMessage') || false ) === false){\n    msg.topic = \"name\";\n    return [msg, null];\n} else {\n    msg.topic = \"textFalse\";\n    return [msg, msg];\n}\n","outputs":2,"noerr":0,"x":330,"y":600,"wires":[["fd4afe8c.3fa31"],["47b2d8c4.6cd5c8"]]},{"id":"e1aec8f5.2b7b28","type":"comment","z":"7c56a241.1e88dc","name":"create thumbnails","info":"","x":1010,"y":740,"wires":[]},{"id":"a1bd3724.340b78","type":"comment","z":"7c56a241.1e88dc","name":"delete source files","info":"","x":950,"y":1060,"wires":[]},{"id":"4ef41b3c.3e44f4","type":"function","z":"7c56a241.1e88dc","name":"if ok","func":"if (msg.payload === \"\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":810,"y":520,"wires":[["3e32eae9.dd5636"]]},{"id":"6bd657.020929a8","type":"debug","z":"7c56a241.1e88dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1620,"y":1060,"wires":[]},{"id":"ec06cd21.3584f","type":"function","z":"7c56a241.1e88dc","name":"convert image add name","func":"// set variables\nvar imagepath = \"/home/pi/media/telegram/preview/\";\nvar resultpath = imagepath;\nvar sizeX = global.get('displayWidth');\nvar sizeY = global.get('displayHeight');\nvar gravity = (flow.get('gravityName')) || \"southeast\";\nvar undercolor = \"black\"; //\n\n// fix variables\n\nimagepath = imagepath + \"previewText.jpg\";\nresultpath = resultpath + \"previewText.jpg\";\n\nvar textsize = (flow.get('nameTextsize')) || 40;\nvar bgalpha = \"00\";\nvar bgcolor = \"000000\";\nvar text = \"Name\";\nvar color = flow.get('color') || white;\nvar font = flow.get('font') || \"Liberation-Sans\";\n\nmsg.payload = \"convert -background '#\" + bgcolor + bgalpha + \"' -gravity \" + gravity + \" -fill \" + color + \" -undercolor \" + undercolor + \" -pointsize \" + textsize + \" -font \" + font + \" -size \" + sizeX + \"x\" + sizeY + \" caption:'\" + text + \"' \" + imagepath + \" +swap -gravity \" + gravity + \" -composite \" + resultpath;\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1640,"wires":[["ef800132.712b4"]]},{"id":"ef800132.712b4","type":"exec","z":"7c56a241.1e88dc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1440,"y":1640,"wires":[["ef90c7f4.06d958","cc682995.5cfca8"],[],[]]},{"id":"cc682995.5cfca8","type":"function","z":"7c56a241.1e88dc","name":"if ok","func":"if (msg.payload === \"\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":1590,"y":1640,"wires":[["47377c6c.b062e4"]]},{"id":"1bc5e035.452d1","type":"ui_slider","z":"5af1388b.ef9838","name":"","label":"Max. Anzahl Bilder Trash","tooltip":"","group":"79173158.54b5a","order":3,"width":16,"height":1,"passthru":true,"outs":"end","topic":"","min":"1","max":"99","step":1,"x":430,"y":1500,"wires":[["afd767a1.e9d978"]]},{"id":"cc323c1e.9684c","type":"exec","z":"ba1e4f7d.a87f3","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":690,"y":2300,"wires":[["a6961568.21e038"],["a6961568.21e038"],["a6961568.21e038"]]},{"id":"d94018d9.852338","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"sudo cat /dev/tty1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":2280,"wires":[["cc323c1e.9684c"]]},{"id":"a6961568.21e038","type":"debug","z":"ba1e4f7d.a87f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":2300,"wires":[]},{"id":"d088436c.e3048","type":"inject","z":"ba1e4f7d.a87f3","name":"","topic":"","payload":"sudo killall cat","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":2320,"wires":[["cc323c1e.9684c"]]},{"id":"73b94e53.aa703","type":"function","z":"7c56a241.1e88dc","name":"move to folder(s)","func":"var file = flow.get('lastTelegramFilename');\n\nif (global.get('textActive') === false){\n    msg.payload = \"mv /home/pi/media/telegram/03_frameloop/\" + file + \".resize.jpg.addText.jpg /home/pi/media/telegram/03_stackText/ && mv /home/pi/media/telegram/03_dashboard/\" + file + \".resize.jpg.addText.jpg.dash.jpg /home/pi/media/telegram/03_stackText/\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":920,"wires":[["6529177f.e752a8"]]},{"id":"6529177f.e752a8","type":"exec","z":"7c56a241.1e88dc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1380,"y":920,"wires":[["e6cf3db3.75829"],[],[]]},{"id":"bf3e7368.028ab","type":"comment","z":"7c56a241.1e88dc","name":"move to folder(s)","info":"","x":980,"y":860,"wires":[]},{"id":"8936fbaa.4e7a78","type":"ui_switch","z":"5af1388b.ef9838","name":"","label":"Text","tooltip":"","group":"79173158.54b5a","order":4,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":1280,"wires":[["f34c1177.b2b79","a8cc1088.83d24"]]},{"id":"f34c1177.b2b79","type":"change","z":"5af1388b.ef9838","name":"","rules":[{"t":"set","p":"textActive","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1280,"wires":[["ac44fda1.7d4db"]]},{"id":"e6cf3db3.75829","type":"function","z":"7c56a241.1e88dc","name":"if ok","func":"if (msg.payload === \"\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":1530,"y":920,"wires":[["23a08705.fbb988"]]},{"id":"eb3eb427.6c6b38","type":"function","z":"7c56a241.1e88dc","name":"if ok + if \"name\" or \"textTrue\"","func":"if (msg.payload === \"\" && (msg.topic === \"name\" || msg.topic === \"textTrue\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":1580,"y":800,"wires":[["3da9d40.77c6e2c"]]},{"id":"3da9d40.77c6e2c","type":"switch","z":"7c56a241.1e88dc","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"textTrue","vt":"str"},{"t":"eq","v":"name","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":940,"wires":[["73b94e53.aa703"],["23a08705.fbb988"]]},{"id":"2fe3f906.94a046","type":"exec","z":"168e0b9d.9c19d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1370,"y":300,"wires":[[],[],[]]},{"id":"2de84ae9.85c9d6","type":"change","z":"5af1388b.ef9838","name":"","rules":[{"t":"set","p":"loopMax","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1440,"wires":[["9896db89.201e78"]]},{"id":"71a6d4a2.4e899c","type":"fs-file-lister","z":"168e0b9d.9c19d4","name":"","start":"/home/pi/media/telegram/03_frameloop","pattern":"*.jpg","folders":"*","hidden":true,"lstype":"files","path":false,"single":false,"depth":0,"stat":false,"showWarnings":true,"x":600,"y":300,"wires":[["ab515b4c.cf8af8"]]},{"id":"4b9edd86.f48ea4","type":"inject","z":"168e0b9d.9c19d4","name":"Start","topic":"","payload":"01","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["868dbac2.4fdcd8"]]},{"id":"3e0f9317.509bec","type":"debug","z":"168e0b9d.9c19d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":180,"wires":[]},{"id":"ab515b4c.cf8af8","type":"function","z":"168e0b9d.9c19d4","name":"03_frameloop: rename + 1","func":"if(msg.payload !== \"Empty Folder\"){\n    var file = msg.payload;\n    var fileNew = \"temp.\";\n    var folder = \"\";\n    var x = parseInt(msg.payload.slice(0, 2));\n    var postfix = msg.payload.slice(2);\n    x = x + 1;\n    \n    if (x < 10){\n        fileNew = fileNew + \"0\" + x + postfix;\n    } else {\n        fileNew = fileNew + x + postfix;\n    }\n    \n    msg.file = fileNew;\n    \n    if(x > global.get('loopMax')){\n        msg.payload = \"mv /home/pi/media/telegram/03_frameloop/\" + file + \" /home/pi/media/telegram/04_trash/\" + fileNew;\n        msg.folder = \"/home/pi/media/telegram/04_trash/\";\n    } else {\n        msg.payload = \"mv /home/pi/media/telegram/03_frameloop/\" + file + \" /home/pi/media/telegram/03_frameloop/\" + fileNew;\n        msg.folder = \"/home/pi/media/telegram/03_frameloop/\";\n    }\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":820,"y":300,"wires":[["2fe3f906.94a046","31013ee5.542af2"]]},{"id":"afd767a1.e9d978","type":"change","z":"5af1388b.ef9838","name":"","rules":[{"t":"set","p":"trashMax","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1500,"wires":[["a9b46012.6e6f7"]]},{"id":"868dbac2.4fdcd8","type":"function","z":"168e0b9d.9c19d4","name":"incr. filenr","func":"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["785e58cb.603a18","71a6d4a2.4e899c","675066d.02ed398","9864f6a2.cf29a8"]]},{"id":"12dba3de.11751c","type":"exec","z":"168e0b9d.9c19d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1370,"y":380,"wires":[[],[],[]]},{"id":"785e58cb.603a18","type":"fs-file-lister","z":"168e0b9d.9c19d4","name":"","start":"/home/pi/media/telegram/03_dashboard","pattern":"*.jpg","folders":"*","hidden":true,"lstype":"files","path":false,"single":false,"depth":0,"stat":false,"showWarnings":true,"x":600,"y":380,"wires":[["8cc533cc.f535d"]]},{"id":"8cc533cc.f535d","type":"function","z":"168e0b9d.9c19d4","name":"03_dashboard: rename + 1","func":"if(msg.payload !== \"Empty Folder\"){\n    var file = msg.payload;\n    var fileNew = \"temp.\";\n    var folder = \"\";\n    var x = parseInt(msg.payload.slice(0, 2));\n    var postfix = msg.payload.slice(2);\n    x = x + 1;\n    \n    if (x < 10){\n        fileNew = fileNew + \"0\" + x + postfix;\n    } else {\n        fileNew = fileNew + x + postfix;\n    }\n    \n    msg.file = fileNew;\n    \n    if(x > global.get('loopMax')){\n        msg.payload = \"mv /home/pi/media/telegram/03_dashboard/\" + file + \" /home/pi/media/telegram/04_trash/\" + fileNew;\n        msg.folder = \"/home/pi/media/telegram/04_trash/\";\n    } else {\n        msg.payload = \"mv /home/pi/media/telegram/03_dashboard/\" + file + \" /home/pi/media/telegram/03_dashboard/\" + fileNew;\n        msg.folder = \"/home/pi/media/telegram/03_dashboard/\";\n    }\n    \n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":820,"y":380,"wires":[["12dba3de.11751c","31013ee5.542af2","3e0f9317.509bec"]]},{"id":"bcb49c90.a2675","type":"exec","z":"168e0b9d.9c19d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1370,"y":460,"wires":[[],[],[]]},{"id":"675066d.02ed398","type":"fs-file-lister","z":"168e0b9d.9c19d4","name":"","start":"/home/pi/media/telegram/03_stackText","pattern":"*.jpg","folders":"*","hidden":true,"lstype":"files","path":false,"single":false,"depth":0,"stat":false,"showWarnings":true,"x":600,"y":460,"wires":[["d844bcc5.32b1f"]]},{"id":"d844bcc5.32b1f","type":"function","z":"168e0b9d.9c19d4","name":"03_stackText: rename + 1","func":"if(msg.payload !== \"Empty Folder\"){\n    var file = msg.payload;\n    var fileNew = \"temp.\";\n    var folder = \"\"; \n    var x = parseInt(msg.payload.slice(0, 2));\n    var postfix = msg.payload.slice(2);\n    x = x + 1;\n    \n    if (x < 10){\n        fileNew = fileNew + \"0\" + x + postfix;\n    } else {\n        fileNew = fileNew + x + postfix;\n    }\n    \n    msg.file = fileNew;\n    \n    if(x > global.get('loopMax')){\n        msg.payload = \"mv /home/pi/media/telegram/03_stackText/\" + file + \" /home/pi/media/telegram/04_trash/\" + fileNew;\n        msg.folder = \"/home/pi/media/telegram/04_trash/\";\n    } else {\n        msg.payload = \"mv /home/pi/media/telegram/03_stackText/\" + file + \" /home/pi/media/telegram/03_stackText/\" + fileNew;\n        msg.folder = \"/home/pi/media/telegram/03_stackText/\";\n    }\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":810,"y":460,"wires":[["bcb49c90.a2675","31013ee5.542af2"]]},{"id":"1113e99f.336446","type":"exec","z":"168e0b9d.9c19d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1370,"y":540,"wires":[[],[],[]]},{"id":"9864f6a2.cf29a8","type":"fs-file-lister","z":"168e0b9d.9c19d4","name":"","start":"/home/pi/media/telegram/04_trash","pattern":"*.jpg","folders":"*","hidden":true,"lstype":"files","path":false,"single":false,"depth":0,"stat":false,"showWarnings":true,"x":600,"y":540,"wires":[["a6dd565f.ad3e98"]]},{"id":"a6dd565f.ad3e98","type":"function","z":"168e0b9d.9c19d4","name":"04_trash: rename + 1","func":"if(msg.payload !== \"Empty Folder\"){\n    var file = msg.payload;\n    var fileNew = \"temp.\";\n    var folder = \"\";\n    var x = parseInt(msg.payload.slice(0, 2));\n    var postfix = msg.payload.slice(2);\n    x = x + 1;\n    \n    if (x < 10){\n        fileNew = fileNew + \"0\" + x + postfix;\n    } else {\n        fileNew = fileNew + x + postfix;\n    }\n    \n    msg.file = fileNew;\n    \n    if(x > (global.get('trashMax') + global.get('loopMax'))){\n        msg.payload = \"rm /home/pi/media/telegram/04_trash/\" + file;\n        msg.folder = \"deleted\";\n    } else {\n        msg.payload = \"mv /home/pi/media/telegram/04_trash/\" + file + \" /home/pi/media/telegram/04_trash/\" + fileNew;\n        msg.folder = \"/home/pi/media/telegram/04_trash/\";\n    }\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":800,"y":540,"wires":[["1113e99f.336446","31013ee5.542af2"]]},{"id":"f0b57d5c.3e53e","type":"link in","z":"168e0b9d.9c19d4","name":"incr. filenr","links":["98da01cf.24f5d"],"x":215,"y":380,"wires":[["868dbac2.4fdcd8"]]},{"id":"98da01cf.24f5d","type":"link out","z":"7c56a241.1e88dc","name":"","links":["f0b57d5c.3e53e"],"x":1515,"y":220,"wires":[]},{"id":"4e79dda9.59f3b4","type":"comment","z":"5af1388b.ef9838","name":"Settings","info":"","x":180,"y":1120,"wires":[]},{"id":"a8cc1088.83d24","type":"function","z":"5af1388b.ef9838","name":"move files","func":"if(msg.payload){\n  \n    msg.payload = \"mv /home/pi/media/telegram/03_stackText/*.*.*.*.addText.*.dash.* /home/pi/media/telegram/03_dashboard/ && mv /home/pi/media/telegram/03_stackText/*.*.*.*.addText.* /home/pi/media/telegram/03_frameloop/\";\n    \n} else {\n    \n    msg.payload = \"mv /home/pi/media/telegram/03_dashboard/*.*.*.*.addText.*.dash.* /home/pi/media/telegram/03_stackText/ && mv /home/pi/media/telegram/03_frameloop/*.*.*.*.addText.* /home/pi/media/telegram/03_stackText/\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1340,"wires":[["35723607.2c8e9a"]]},{"id":"35723607.2c8e9a","type":"exec","z":"5af1388b.ef9838","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":730,"y":1340,"wires":[[],[],[]]},{"id":"63250bfd.933244","type":"function","z":"168e0b9d.9c19d4","name":"remove \"temp\"","func":"if(msg.payload !== \"Empty Folder\" && msg.folder !== \"deleted\"){\n    \n    var folder = msg.folder;\n    \n    var file = msg.file;\n    var fileNew = file.slice(5);\n\n    msg.payload = \"mv \" + folder + file + \" \" + folder + fileNew;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1200,"y":700,"wires":[["32ecf211.b8518e","1bf98b51.6437e5"]]},{"id":"31013ee5.542af2","type":"delay","z":"168e0b9d.9c19d4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":700,"wires":[["63250bfd.933244"]]},{"id":"32ecf211.b8518e","type":"exec","z":"168e0b9d.9c19d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1370,"y":700,"wires":[[],[],[]]},{"id":"1bf98b51.6437e5","type":"debug","z":"168e0b9d.9c19d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1340,"y":800,"wires":[]},{"id":"a0fbaae7.33ae68","type":"exec","z":"168e0b9d.9c19d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":1100,"wires":[[],[],[]]},{"id":"b88e43fe.7f40f","type":"inject","z":"168e0b9d.9c19d4","name":"Start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1100,"wires":[["6de55ceb.b38e64"]]},{"id":"6de55ceb.b38e64","type":"function","z":"168e0b9d.9c19d4","name":"clean up folders","func":"msg.payload = \"rm /home/pi/media/telegram/03_dashboard/* && rm /home/pi/media/telegram/03_frameloop/* && rm /home/pi/media/telegram/03_stackText/* && rm /home/pi/media/telegram/02_preprocessing/*\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1100,"wires":[["a0fbaae7.33ae68"]]},{"id":"eca4f699.a2e5e8","type":"persist out","z":"5af1388b.ef9838","name":"textActive","storageNode":"aa40158d.83bf68","x":220,"y":1280,"wires":[["8936fbaa.4e7a78"]]},{"id":"ac44fda1.7d4db","type":"persist in","z":"5af1388b.ef9838","name":"textActive","storageNode":"aa40158d.83bf68","x":860,"y":1280,"wires":[]},{"id":"ed0af056.6b6d5","type":"persist out","z":"5af1388b.ef9838","name":"loopMax","storageNode":"aa40158d.83bf68","x":220,"y":1440,"wires":[["3c457ef9.347f12"]]},{"id":"b1c05f38.e988c","type":"persist out","z":"5af1388b.ef9838","name":"trashMax","storageNode":"aa40158d.83bf68","x":220,"y":1500,"wires":[["1bc5e035.452d1"]]},{"id":"9896db89.201e78","type":"persist in","z":"5af1388b.ef9838","name":"loopMax","storageNode":"aa40158d.83bf68","x":860,"y":1440,"wires":[]},{"id":"a9b46012.6e6f7","type":"persist in","z":"5af1388b.ef9838","name":"trashMax","storageNode":"aa40158d.83bf68","x":860,"y":1500,"wires":[]},{"id":"c4d060eb.a68cb","type":"ui_dropdown","z":"e00097c0.ad3088","name":"","label":"","tooltip":"","place":"","group":"98f89e13.1f66c","order":3,"width":4,"height":1,"passthru":true,"options":[{"label":"timer off","value":"timerOff","type":"str"},{"label":"06:00","value":"06:00","type":"str"},{"label":"","value":"06:15","type":"str"},{"label":"","value":"06:30","type":"str"},{"label":"","value":"06:45","type":"str"},{"label":"","value":"07:00","type":"str"},{"label":"","value":"07:15","type":"str"},{"label":"","value":"07:30","type":"str"},{"label":"","value":"07:45","type":"str"},{"label":"","value":"08:00","type":"str"},{"label":"","value":"08:15","type":"str"},{"label":"","value":"08:30","type":"str"},{"label":"","value":"08:45","type":"str"},{"label":"","value":"09:00","type":"str"},{"label":"","value":"09:15","type":"str"},{"label":"","value":"09:30","type":"str"},{"label":"","value":"09:45","type":"str"},{"label":"","value":"10:00","type":"str"},{"label":"","value":"10:15","type":"str"},{"label":"","value":"10:30","type":"str"},{"label":"","value":"10:45","type":"str"},{"label":"","value":"11:00","type":"str"},{"label":"","value":"11:15","type":"str"},{"label":"","value":"11:30","type":"str"},{"label":"","value":"11:45","type":"str"},{"label":"","value":"12:00","type":"str"},{"label":"","value":"12:15","type":"str"},{"label":"","value":"12:30","type":"str"},{"label":"","value":"12:45","type":"str"},{"label":"","value":"13:00","type":"str"},{"label":"","value":"13:15","type":"str"},{"label":"","value":"13:30","type":"str"},{"label":"","value":"13:45","type":"str"},{"label":"","value":"14:00","type":"str"},{"label":"","value":"14:15","type":"str"},{"label":"","value":"14:30","type":"str"},{"label":"","value":"14:45","type":"str"},{"label":"","value":"15:00","type":"str"},{"label":"","value":"15:15","type":"str"},{"label":"","value":"15:30","type":"str"},{"label":"","value":"15:45","type":"str"},{"label":"","value":"16:00","type":"str"},{"label":"","value":"16:15","type":"str"},{"label":"","value":"16:30","type":"str"},{"label":"","value":"16:45","type":"str"},{"label":"","value":"17:00","type":"str"},{"label":"","value":"17:15","type":"str"},{"label":"","value":"17:30","type":"str"},{"label":"","value":"17:45","type":"str"},{"label":"","value":"18:00","type":"str"},{"label":"","value":"18:15","type":"str"},{"label":"","value":"18:30","type":"str"},{"label":"","value":"18:45","type":"str"},{"label":"","value":"19:00","type":"str"},{"label":"","value":"19:15","type":"str"},{"label":"","value":"19:30","type":"str"},{"label":"","value":"19:45","type":"str"},{"label":"","value":"20:00","type":"str"},{"label":"","value":"20:15","type":"str"},{"label":"","value":"20:30","type":"str"},{"label":"","value":"20:45","type":"str"},{"label":"","value":"21:00","type":"str"},{"label":"","value":"21:15","type":"str"},{"label":"","value":"21:30","type":"str"},{"label":"","value":"21:45","type":"str"},{"label":"","value":"22:00","type":"str"},{"label":"","value":"22:15","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"22:30","type":"str"},{"label":"","value":"22:45","type":"str"},{"label":"","value":"23:00","type":"str"},{"label":"","value":"23:15","type":"str"},{"label":"","value":"23:30","type":"str"},{"label":"","value":"23:45","type":"str"},{"label":"","value":"00:00","type":"str"},{"label":"","value":"00:15","type":"str"},{"label":"","value":"00:30","type":"str"},{"label":"","value":"00:45","type":"str"},{"label":"","value":"01:00","type":"str"},{"label":"","value":"01:15","type":"str"},{"label":"","value":"01:30","type":"str"},{"label":"","value":"01:45","type":"str"},{"label":"","value":"02:00","type":"str"},{"label":"","value":"02:15","type":"str"},{"label":"","value":"02:30","type":"str"},{"label":"","value":"02:45","type":"str"},{"label":"","value":"03:00","type":"str"},{"label":"","value":"03:15","type":"str"},{"label":"","value":"03:30","type":"str"},{"label":"","value":"03:45","type":"str"},{"label":"","value":"04:00","type":"str"},{"label":"","value":"04:15","type":"str"},{"label":"","value":"04:30","type":"str"},{"label":"","value":"04:45","type":"str"},{"label":"","value":"05:00","type":"str"},{"label":"","value":"05:15","type":"str"},{"label":"","value":"05:30","type":"str"},{"label":"","value":"05:45","type":"str"}],"payload":"","topic":"timeOn","x":350,"y":460,"wires":[["fc007af8.4b0098","2f2c6d12.96cd32"]]},{"id":"fc007af8.4b0098","type":"function","z":"e00097c0.ad3088","name":"create timer input","func":"if (msg.payload === \"timerOff\"){\n    msg.payload = { suspended:true };\n} else if (msg.topic === \"timeOn\"){\n    msg.payload = { ontime:msg.payload, suspended:false };\n} else if (msg.topic === \"timeOff\"){\n    msg.payload = { offtime:msg.payload, suspended:false };\n} else return null;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":540,"wires":[["3062f612.357daa"]]},{"id":"3062f612.357daa","type":"schedex","z":"e00097c0.ad3088","name":"Timer","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"1","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"0","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":790,"y":540,"wires":[["219171dc.c5a49e"]]},{"id":"219171dc.c5a49e","type":"function","z":"e00097c0.ad3088","name":"convert string -> int","func":"if (msg.payload === \"1\") {\n    msg.payload = 1;\n}\nelse {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":540,"wires":[["65b2fd66.a9b1e4"]]},{"id":"588ec493.a2088c","type":"ui_dropdown","z":"e00097c0.ad3088","name":"","label":"","tooltip":"","place":"","group":"98f89e13.1f66c","order":6,"width":4,"height":1,"passthru":true,"options":[{"label":"timer off","value":"timerOff","type":"str"},{"label":"","value":"06:00","type":"str"},{"label":"","value":"06:15","type":"str"},{"label":"","value":"06:30","type":"str"},{"label":"","value":"06:45","type":"str"},{"label":"","value":"07:00","type":"str"},{"label":"","value":"07:15","type":"str"},{"label":"","value":"07:30","type":"str"},{"label":"","value":"07:45","type":"str"},{"label":"","value":"08:00","type":"str"},{"label":"","value":"08:15","type":"str"},{"label":"","value":"08:30","type":"str"},{"label":"","value":"08:45","type":"str"},{"label":"","value":"09:00","type":"str"},{"label":"","value":"09:15","type":"str"},{"label":"","value":"09:30","type":"str"},{"label":"","value":"09:45","type":"str"},{"label":"","value":"10:00","type":"str"},{"label":"","value":"10:15","type":"str"},{"label":"","value":"10:30","type":"str"},{"label":"","value":"10:45","type":"str"},{"label":"","value":"11:00","type":"str"},{"label":"","value":"11:15","type":"str"},{"label":"","value":"11:30","type":"str"},{"label":"","value":"11:45","type":"str"},{"label":"","value":"12:00","type":"str"},{"label":"","value":"12:15","type":"str"},{"label":"","value":"12:30","type":"str"},{"label":"","value":"12:45","type":"str"},{"label":"","value":"13:00","type":"str"},{"label":"","value":"13:15","type":"str"},{"label":"","value":"13:30","type":"str"},{"label":"","value":"13:45","type":"str"},{"label":"","value":"14:00","type":"str"},{"label":"","value":"14:15","type":"str"},{"label":"","value":"14:30","type":"str"},{"label":"","value":"14:45","type":"str"},{"label":"","value":"15:00","type":"str"},{"label":"","value":"15:15","type":"str"},{"label":"","value":"15:30","type":"str"},{"label":"","value":"15:45","type":"str"},{"label":"","value":"16:00","type":"str"},{"label":"","value":"16:15","type":"str"},{"label":"","value":"16:30","type":"str"},{"label":"","value":"16:45","type":"str"},{"label":"","value":"17:00","type":"str"},{"label":"","value":"17:15","type":"str"},{"label":"","value":"17:30","type":"str"},{"label":"","value":"17:45","type":"str"},{"label":"","value":"18:00","type":"str"},{"label":"","value":"18:15","type":"str"},{"label":"","value":"18:30","type":"str"},{"label":"","value":"18:45","type":"str"},{"label":"","value":"19:00","type":"str"},{"label":"","value":"19:15","type":"str"},{"label":"","value":"19:30","type":"str"},{"label":"","value":"19:45","type":"str"},{"label":"","value":"20:00","type":"str"},{"label":"","value":"20:15","type":"str"},{"label":"","value":"20:30","type":"str"},{"label":"","value":"20:45","type":"str"},{"label":"","value":"21:00","type":"str"},{"label":"","value":"21:15","type":"str"},{"label":"","value":"21:30","type":"str"},{"label":"","value":"21:45","type":"str"},{"label":"","value":"22:00","type":"str"},{"label":"","value":"22:15","type":"str"},{"label":"","value":"22:30","type":"str"},{"label":"","value":"22:45","type":"str"},{"label":"","value":"23:00","type":"str"},{"label":"","value":"23:15","type":"str"},{"label":"","value":"23:30","type":"str"},{"label":"","value":"23:45","type":"str"},{"label":"","value":"00:00","type":"str"},{"label":"","value":"00:15","type":"str"},{"label":"","value":"00:30","type":"str"},{"label":"","value":"00:45","type":"str"},{"label":"","value":"01:00","type":"str"},{"label":"","value":"01:15","type":"str"},{"label":"","value":"01:30","type":"str"},{"label":"","value":"01:45","type":"str"},{"label":"","value":"02:00","type":"str"},{"label":"","value":"02:15","type":"str"},{"label":"","value":"02:30","type":"str"},{"label":"","value":"02:45","type":"str"},{"label":"","value":"03:00","type":"str"},{"label":"","value":"03:15","type":"str"},{"label":"","value":"03:30","type":"str"},{"label":"","value":"03:45","type":"str"},{"label":"","value":"04:00","type":"str"},{"label":"","value":"04:15","type":"str"},{"label":"","value":"04:30","type":"str"},{"label":"","value":"04:45","type":"str"},{"label":"","value":"05:00","type":"str"},{"label":"","value":"05:15","type":"str"},{"label":"","value":"05:30","type":"str"},{"label":"","value":"05:45","type":"str"}],"payload":"","topic":"timeOff","x":350,"y":600,"wires":[["fc007af8.4b0098","83242b7b.dca458"]]},{"id":"942bb5da.d44c58","type":"ui_switch","z":"e00097c0.ad3088","name":"","label":"Info Led","tooltip":"","group":"efcbccf2.e125","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":820,"wires":[[]]},{"id":"3d5d59e4.b34056","type":"ui_slider","z":"e00097c0.ad3088","name":"","label":"Helligkeit","tooltip":"","group":"efcbccf2.e125","order":2,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":10,"step":1,"x":220,"y":780,"wires":[[]]},{"id":"a8c60203.b8af1","type":"ui_text","z":"e00097c0.ad3088","group":"98f89e13.1f66c","order":4,"width":2,"height":1,"name":"","label":"Uhr","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":500,"wires":[]},{"id":"fa2ce4df.75bec8","type":"ui_text","z":"e00097c0.ad3088","group":"98f89e13.1f66c","order":7,"width":2,"height":1,"name":"","label":"Uhr","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":640,"wires":[]},{"id":"cf226409.f192c8","type":"comment","z":"e00097c0.ad3088","name":"Display On/Off","info":"","x":180,"y":100,"wires":[]},{"id":"bcbbb945.48f918","type":"exec","z":"e00097c0.ad3088","command":"vcgencmd display_power 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":840,"y":280,"wires":[[],[],[]]},{"id":"2951b8b6.676678","type":"exec","z":"e00097c0.ad3088","command":"vcgencmd display_power 1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":840,"y":220,"wires":[[],[],[]]},{"id":"5f4c3995.ed98f8","type":"inject","z":"e00097c0.ad3088","name":"Display off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":180,"wires":[["bcbbb945.48f918"]]},{"id":"89f91e00.3f566","type":"inject","z":"e00097c0.ad3088","name":"Display on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":140,"wires":[["2951b8b6.676678"]]},{"id":"65b2fd66.a9b1e4","type":"ui_switch","z":"e00097c0.ad3088","name":"","label":"aus / an","tooltip":"","group":"98f89e13.1f66c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":440,"y":260,"wires":[["1d8775e4.7c3f0a","f6e96d1d.c2c99"]]},{"id":"1d8775e4.7c3f0a","type":"switch","z":"e00097c0.ad3088","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":260,"wires":[["2951b8b6.676678"],["bcbbb945.48f918"]]},{"id":"f6e96d1d.c2c99","type":"persist in","z":"e00097c0.ad3088","name":"displayOnOff","storageNode":"aa40158d.83bf68","x":590,"y":300,"wires":[]},{"id":"74c7673f.dd4d28","type":"persist out","z":"e00097c0.ad3088","name":"displayOnOff","storageNode":"aa40158d.83bf68","x":250,"y":260,"wires":[["65b2fd66.a9b1e4"]]},{"id":"9c0d31fe.b5e8c","type":"ui_text","z":"e00097c0.ad3088","group":"98f89e13.1f66c","order":2,"width":6,"height":1,"name":"","label":"Bildschirm an","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":420,"wires":[]},{"id":"8489dec8.3f46b","type":"ui_text","z":"e00097c0.ad3088","group":"98f89e13.1f66c","order":5,"width":6,"height":1,"name":"","label":"Bildschirm aus","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":560,"wires":[]},{"id":"b6697f46.5fd87","type":"persist out","z":"e00097c0.ad3088","name":"turnOnTime","storageNode":"aa40158d.83bf68","x":170,"y":460,"wires":[["c4d060eb.a68cb"]]},{"id":"11a7bd67.c88f33","type":"persist out","z":"e00097c0.ad3088","name":"turnOffTime","storageNode":"aa40158d.83bf68","x":170,"y":600,"wires":[["588ec493.a2088c"]]},{"id":"2f2c6d12.96cd32","type":"persist in","z":"e00097c0.ad3088","name":"turnOnTime","storageNode":"aa40158d.83bf68","x":550,"y":460,"wires":[]},{"id":"83242b7b.dca458","type":"persist in","z":"e00097c0.ad3088","name":"turnOffTime","storageNode":"aa40158d.83bf68","x":550,"y":600,"wires":[]}]